<div class="menu-down-sub-container">
  <div class="menu-down-sub-content">
    {% for sub_menu in sub_menus %}
      {% if sub_menu.settings.number == index %}
        <div class="menu-down-sub-item ">
          <a
            {% if sub_menu.settings.sub_link != blank %}
              href="{{sub_menu.settings.sub_link}}"
            {% else %}
              onclick="return false"
            {% endif %}
          >
            {{- sub_menu.settings.sub_text -}}
          </a>
          {% render 'arrow-icon', class: 'menu-down-sub-arrow' %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="menu-down-sub-right">
    {% for sub_menu in sub_menus %}
      {% assign sub_index = forloop.index %}
      {% if sub_menu.settings.menu_type == 'type1' %}
        {% if sub_menu.settings.comparison_text == blank %}
          <div class="menu-down-sub-ward ">
            <swiper-component
              class="swiper-component"
              data-open="true"
              data-space-between="16"
              data-slides-per-view="1"
              data-breakpoints='{"769":{"slidesPerView":3.6,"spaceBetween":16}}'
            >
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  {% for three_menu in three_menus %}
                    {% if three_menu.settings.number == sub_index %}
                      <div class="swiper-slide menu-down-three-item">
                        {% render 'img-lazyload',
                          image_url: three_menu.settings.extras_img,
                          class_name: 'menu-down-three-extras-img'
                        %}
                        {% render 'img-lazyload',
                          image_url: three_menu.settings.discount_img,
                          class_name: 'menu-down-three-discount-img'
                        %}
                        {% render 'img-lazyload',
                          class_name: 'menu-down-three-img',
                          image_url: three_menu.settings.img
                        %}
                        <div class="menu-down-three-title">
                          {{ three_menu.settings.product_title }}
                        </div>
                        {% if three_menu.settings.product_tip != blank %}
                          <div class="menu-down-three-tip">{{ three_menu.settings.product_tip }}</div>
                        {% endif %}
                        {% if three_menu.settings.product_text != blank %}
                          <div class="menu-down-three-text">{{ three_menu.settings.product_text }}</div>
                        {% endif %}
                        <div class="menu-down-three-btns">
                          {% if three_menu.settings.learn_url != blank %}
                            <a class="menu-down-three-learn" href="{{three_menu.settings.learn_url}}">
                              {{- three_menu.settings.learn_more -}}
                            </a>
                          {% endif %}
                          {% if three_menu.settings.buy_now_url != blank %}
                            <a class="menu-down-three-buy" href="{{three_menu.settings.buy_now_url}}">
                              {{- three_menu.settings.buy_now -}}
                            </a>
                          {% endif %}
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
              {% if sub_menu.settings.view_link != blank %}
                <a href="{{sub_menu.settings.view_link}}" class="menu-down-sub-view-all">もっと見る</a>
              {% endif %}
            </swiper-component>
          </div>
        {% else %}
          <div class="menu-down-sub-ward">
            <div class="comparison-ward">
              <div class="comparison-title">{{ sub_menu.settings.comparison_title }}</div>
              <button class="comparison-text comparison-btn_">{{ sub_menu.settings.comparison_text }}</button>
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>
