{{ 'section-10th.css' | asset_url | stylesheet_tag }}

<style>
  .section-{{section.id}}{
      padding:{{section.settings.padding}};
      background: #7A9ECA;
  }

  @media screen and (max-width: 768px) {
      .section-{{section.id}}{
      padding:{{section.settings.md_padding}};
  }
  }
</style>

<div class="page-layout section-{{section.id}}">
  <div class="page-layout-content">
    <h2 class="section-10th-h2">{{ section.settings.title }}</h2>
    <div class="section-10th-text">{{ section.settings.text }}</div>
    <div class="section-10th-container">
      <div class="section-10th-img">
        <a href="{{section.settings.url}}">
          {% render 'img-lazyload', image_url: section.settings.img %}
        </a>
      </div>
      <div class="section-10th-ward">
        {% for item in section.blocks %}
          <div class="section-10th-item">
            <a href="{{item.settings.url}}" class="lsimg">
              {% render 'img-lazyload', image_url: item.settings.img %}
            </a>
          </div>
        {% endfor %}
      </div>
      <div class="imgtext" style="margin-top: 40px;">{% render 'img-lazyload', image_url: section.settings.img1 %}</div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "section-10th",
  "settings": [

    {
      "type": "text",
      "id": "padding",
      "label": "模块内边距",
      "default": "120px 20px 0"
    },
    {
      "type": "text",
      "id": "md_padding",
      "label": "移动端模块内边距",
      "default": "20px 20px 0"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "文本内容"
    },
    {
      "type": "image_picker",
      "id": "img",
      "label": "配图"
    },
    {
          "type": "url",
          "id": "url",
          "label": "url"
        },
    {
      "type": "image_picker",
      "id": "img1",
      "label": "配图"
    }
  ],
  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [

        {
          "type": "url",
          "id": "url",
          "label": "url"
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": "图片"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-10th"
    }
  ]
}
{% endschema %}
