{{ '3dprinting.css' | asset_url | stylesheet_tag }}

<style>
  .section-{{section.id}}{
}
</style>

<section-3dprinting>
  <div class="page-layout section-{{section.id}}">
    <div class="page-layout-content">
      <div class="tdpringting">
      <h2 class="tdtitle">{{ section.settings.title }}</h2>
      <p>{{ section.settings.text }}</p>
      </div>
      <div class="tdpringingimg">
        {% render 'img-lazyload', image_url: section.settings.img %}
        {% render 'img-lazyload', image_url: section.settings.img1 %}
      </div>
    </div>
  </div>
</section-3dprinting>

{% schema %}

    {
  "name": "section-3dprinting",
  "settings": [
    
    {
      "type": "text",
      "id": "title",
      "label": "板块标题"
    },
    {
      "type": "text",
      "id": "text",
      "label": "描述"
    },
    {  
      "type": "image_picker",
      "id": "img",
      "label": "配图"
    },
    {  
      "type": "image_picker",
      "id": "img1",
      "label": "配图"
      }
  ],
  "presets": [
    {
      "name": "section-3dprinting"
    }
  ]
}

{% endschema %}


