{{ '3dprepair.css' | asset_url | stylesheet_tag }}

<style>
  .section-{{section.id}}{
    padding-top: 50px;
    padding-bottom: 30px;
}
</style>

<section-3dprepair>
  <div class="page-layout section-{{section.id}}">
    <div class="page-layout-content">
      <div class="repair">
      <h2 class="repairtitle">{{ section.settings.title }}</h2>
      <p>{{ section.settings.text }}</p>
      </div>
      <a class="morelink" href="{{ section.settings.url }}">{{ section.settings.text1 }}</a>
      <div class="repairimg">
        {% render 'img-lazyload', image_url: section.settings.img %}
         <p class="lw">{{ section.settings.text2 }}</p>
      </div>
    </div>
  </div>
</section-3dprepair>

{% schema %}

    {
  "name": "section-3dprepair",
  "settings": [
    
    {
      "type": "text",
      "id": "title",
      "label": "板块标题"
    },
    {
      "type": "text",
      "id": "text",
      "label": "描述"
    },
    {  
      "type": "url",
      "id": "url",
      "label": "链接地址"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "链接文案"
    },
    {  
      "type": "image_picker",
      "id": "img",
      "label": "配图"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "底部文案"
    }
  ],
  "presets": [
    {
      "name": "section-3dprepair"
    }
  ]
}

{% endschema %}


