{{ '3dprintproject.css' | asset_url | stylesheet_tag }}

<style>
    .section-{{section.id}}{
      padding-top: 50px;
      padding-bottom: 30px;
  }
</style>

<section-3dprintproject>
  <div class="page-layout section-{{section.id}}">
    <div class="">
      <h2 class="projecttitle">{{ section.settings.title }}</h2>
     <div class="prtintproject">
      {% for block in section.blocks %}
        <div class="prtintprojectitem">
          <div class="prtintprojectimg">
            {% render 'img-lazyload', image_url: block.settings.img %}
          </div>
          <div class="prtintprojecttitle">
            <h3>{{ block.settings.title }}</h3>
            <p>{{ block.settings.text }}</p>
            <a class="morelink" href="{{ block.settings.url }}">{{ block.settings.text1 }}</a>
          </div>
        </div>
      {% endfor %}
       </div> 
    </div>
  </div>
</section-3dprintproject>

{% schema %}
    {
  "name": "section-3dprintproject",
  "settings": [

    {
      "type": "text",
      "id": "title",
      "label": "板块标题"
    }
  ],
      "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "配图"
        },
        {
          "type": "text",
          "id": "title",
          "label": "标题"
        },
        {
          "type": "text",
          "id": "text",
          "label": "文本内容"
        },
        {
          "type": "url",
           "id": "url",
           "label": "链接地址"
         },
        {
          "type": "text",
          "id": "text1",
          "label": "文本内容"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-3dprintproject"
    }
  ]
}
{% endschema %}
