{{ '3dprintcustom.css' | asset_url | stylesheet_tag }}

<style>
  .section-{{section.id}}{
    padding-top: 50px;
    padding-bottom: 30px;
}
</style>

<section-3dprintcustom>
  <div class="page-layout section-{{section.id}}">
    <div class="page-layout-content">
      <div class="tdcustom">
      <h2 class="tdcustomtitle">{{ section.settings.title }}</h2>
      <p>{{ section.settings.text }}</p>
      </div>
      <a class="morelink" href="{{ section.settings.url }}">{{ section.settings.text1 }}</a>
      <div class="tdcustomimg">
        {% render 'img-lazyload', image_url: section.settings.img %}
      </div>
      <div class="swmode">
       <swiper-component
  data-open="true"
>
  
      <div class="section-tdcustom-container">
        <div class="section-tdcustom-content">
          <div class="swiper-container section-tdcustom-left">
            <div class="swiper-wrapper">
              {% for block in section.blocks %}
                <div class="swiper-slide section-tdcustom-item">
                  {% render 'img-lazyload', image_url: block.settings.img %}
                </div>
              {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="section-tdcustom-right">
            <h2>{{ section.settings.title1 }}</h2>
            <p>{{ section.settings.text3 }}</p>
            <a class="morelink" href="{{ section.settings.url2 }}">{{ section.settings.text4 }}</a>
          </div>
        </div>
      </div>
          <p class="lw">{{ section.settings.text2 }}</p>
</swiper-component>
      </div>
    </div>
  </div>
</section-3dprintcustom>

{% schema %}

    {
  "name": "section-3dprintcustom",
  "settings": [
    
    {
      "type": "text",
      "id": "title",
      "label": "板块标题"
    },
    {
      "type": "text",
      "id": "text",
      "label": "描述"
    },
    {  
      "type": "url",
      "id": "url",
      "label": "链接地址"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "链接文案"
    },
    {  
      "type": "image_picker",
      "id": "img",
      "label": "配图"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "底部文案"
    },
    {
      "type": "text",
      "id": "title1",
      "label": "右侧标题"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "右侧描述"
    },
    {  
      "type": "url",
      "id": "url2",
      "label": "右侧链接地址"
    },
    {
      "type": "text",
      "id": "text4",
      "label": "右侧链接文案"
    }
  ],
      "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "配图"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-3dprintcustom"
    }
  ]
}

{% endschema %}


