<style>
  .affiliate .affilate-top {
  	min-height: 350px;
    height: 50vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    justify-content: center;
  }
  
  
  .affiliate .affilate-top:before {
  	content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
    top: 0;
    left: 0;
  }
  
  .affiliate .affiliate-top-content {
    position: absolute;
    bottom: 30px;
    text-align: center;
    z-index: 1;
    width: 100%;
  }
  
  .affiliate .affiliate-top-content * {
  	font-family: Cabin, sans-serif;
    font-weight: 700;
    color: #fff;
	line-height: 1.4;
    font-size: 2em;
    margin: 0;
  }
  
  @media screen and (max-width: 767px) {
    .affiliate .affiliate-top-content * {
      font-size: 1.75em;
    }
  }
  
  .affiliate .affiliate-div {
  	margin: 20px 0;
  }
  .affiliate-div.affiliate-program {display: none;}
  .affiliate-div.affiliate-pellet {display: none;}
  .affiliate .spread-word {
  	display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .affiliate .spread-word-apply {
    flex-basis: 200px;
    width: 200px;
  }
  
  @media screen and (max-width: 767px) {
    .affiliate .spread-word-apply {
      flex-basis: 100%;
      width: 100%;
    }
  }
  
  .affiliate .spread-word-apply .border {
  	border: 1px solid #ededed;
    width: 200px;
/*     height: 150px; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  @media screen and (max-width: 767px) {
    .affiliate .spread-word-apply .border {
      width: 100%;
    }
    
    .affiliate .spread-word-apply .border img {
      height: 50px;
    }
  }
  
  .affiliate .spread-word-apply a {
    background-color: #596fa8;
    color: #fff;
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .affiliate .spread-word-content {
    flex-basis: calc(100% - 200px);
    width: calc(100% - 200px);
    padding-left: 30px;
  }
  
  @media screen and (max-width: 767px) {
    .affiliate .spread-word-content {
      flex-basis: 100%;
      width: 100%;
      padding-left: 0;
      margin-top: 30px;
    }
  }
  
  .affiliate .affiliate-program-bg {
  	position: relative;
    padding: 50px 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
  }
  
  .affiliate .affiliate-program-bg:before {
  	content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
    top: 0;
    left: 0;
  }
  
  .affiliate .affiliate-program-content {
  	position: relative;
    max-width: 767px;
    margin: auto;
  }
  
  .affiliate .affiliate-program-content > p {
  	color: #fff;
    text-indent: -1em;
    margin-left: 1em;
  }
  
  .affiliate .affiliate-program-content > h2 {
  	font-weight: 700;
    color: #fff;
  }
  
  .affiliate .affiliate-program-content > p:before {
  	content: '✓';
    margin-right: 5px;
  }
  
  .affiliate .affiliate-steps-inner h2 {
  	font-weight: 700;
    text-align: center;
  }
  
  .affiliate .affiliate-steps-list {
  	display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: center;
  }
  
  .affiliate .affiliate-steps-eyecatch {
    position: relative;
    padding-top: 65%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .affiliate .affiliate-steps-item {
  	flex: 1;
    padding: 10px;
  }
  
  @media screen and (max-width: 767px) {
  	.affiliate .affiliate-steps-item {
      flex: auto;
    }
  }
  
  .affiliate .affiliate-steps-item h3 {
  	font-weight: 700;
    margin: 10px auto 15px;
  }
  
  .affiliate .affiliate-pellet-inner {
    padding: 50px 10% 70px;
    background-color: #edf1f2;
  }
  
  .affiliate .affiliate-pellet-inner h2 {
  	font-weight: 700;
    text-align: center;
  }
  
  .affiliate .affiliate-pellet-inner h2,
  .affiliate .affiliate-pellet-inner p {
  	font-weight: #fff;
  }
  
  .affiliate .affiliate-faq-inner {
  	padding-left: 10%;
    padding-right: 10%;
  }
  
  @media screen and (max-width: 767px) {
    .affiliate .affiliate-faq-inner {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  .affiliate .affiliate-faq-inner h2 {
  	font-weight: 700;
    text-align: center;
  }
  
  .affiliate .affiliate-faq-question {
  	margin-top: 50px;
    text-align: center;
  }
  
  .affiliate .affiliate-faq-question a {
  	color: #4f4f4f;
    font-weight: 700;
  }
 .logo-image img{
  display:block;
  margin: 0 auto;
  }
  .en-button{ 
    background:#596fa8 url("//gtranslate.io/shopify/assets/flags/24/en.png") no-repeat  70px;
    padding-left:60px;
    font-weight:bold;
  }
   .de-button{ 
    background:#596fa8 url("//gtranslate.io/shopify/assets/flags/24/de.png") no-repeat  70px;
    padding-left:60px;
    font-weight:bold;
  }
  .brand-block a{
   position:relative;
    background-color: #596fa8;
    color: #fff;
    width: 250px;
    display: block;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 20px auto;
  }
  .btns{
  margin: 0 auto;
  text-align:center;
  }
  .webgain>div:first-child {
margin-top:24px
  }
.gray-border {
width:100%;
border-radius:5px;
border:1px solid #eeeeee;
height:260px;
}
.contain-site-width h2 {font-size: 1.75em;}
</style>


<div class="affiliate">
  <div class="affilate-top" style="background-image: url('{{section.settings.top_bg | img_url: '1024x1024' }}')">
    <div class="affiliate-top-content">
      {{ section.settings.top_title | upcase }}
    </div>
  </div>
  <div class="brand-block">
<div class="contain-site-width " style="padding:20px 0 0 0;">
  <div class="grid">
    <div class="grid__item one-half small--one-whole">
        <div class="shareasale gray-border">
            <div class="logo-image"><img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/064eb384a62956e68f69c16bcfe6c2c8_430x.png"/></div>
      <div class="btns"><a target="_blank" href="http://www.afi-b.com/relation/dirrelation.html?s=B13881k">今すぐ登録</a></div>
        </div>   
    </div>
   
    </div>
  </div>
</div>
  <div class="contain-site-width" style="padding:0;">
    <div>
      <h2>{{ section.settings.spread_word_title | upcase }}</h2>
	  {{ section.settings.spread_word_content }}
    </div>
  </div>
  
  <div class="affiliate-div affiliate-program">
    <div class="affiliate-program-bg" style="background-image: url('{{section.settings.affiliate_program_bg | img_url: '1024x1024' }}');">
      <div class="affiliate-program-content">
        <h2 class="affiliate-program-title">{{ section.settings.affiliate_program_title }}</h2>
        {{ section.settings.affiliate_program_content }}
      </div>
    </div>
  </div>
  
  <div class="affiliate-div affiliate-steps">
    <div class="affiliate-steps-inner">
      <h2>{{ section.settings.steps_title | upcase }}</h2>
      <div class="affiliate-steps-list">
      	{% for block in section.blocks limit: 3 %}
          <div class="affiliate-steps-item">
        	<div class="affiliate-steps-eyecatch" style="background-image: url('{{ block.settings.program_image | img_url: '1024x1024' }}')"></div>
            <h3>{{ block.settings.program_title }}</h3>
            {{ block.settings.program_description }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  
  <div class="affiliate-div affiliate-pellet">
    <div class="affiliate-pellet-inner">
      <h2>{{ section.settings.grill_title | upcase }}</h2>
      {{ section.settings.grill_content }}
    </div>
  </div>
  
  <div class="affiliate-div affiliate-faq">
    <div class="affiliate-faq-inner">
      <h2>{{ section.settings.faq_title | upcase }}</h2>
      {{ section.settings.faq_content }}
      <div class="affiliate-faq-question">
        {{ section.settings.more_questions }}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Affiliate page",
    "settings": [
   	  {
        "type": "header",
        "content": "Top"
      },
      {
        "type": "richtext",
        "id": "top_title",
        "label": "Title"
      },
      {
        "type": "image_picker",
        "id": "top_bg",
        "label": "Background"
      },
	  {
        "type": "header",
        "content": "Overview"
      },
	  {
		"type": "image_picker",
        "id": "apply_image_1",
        "label": "Logo 1"
	  },
	  {
		"type": "url",
        "id": "apply_link_1",
        "label": "Button 1 link"
	  },
	  {
		"type": "text",
        "id": "apply_text_1",
        "label": "Button 1 text"
	  },
	  {
		"type": "image_picker",
        "id": "apply_image_2",
        "label": "Logo 2"
	  },
	  {
		"type": "url",
        "id": "apply_link_2",
        "label": "Button 2 link"
	  },
	  {
		"type": "text",
        "id": "apply_text_2",
        "label": "Button 2 text"
	  },
	  {
		"type": "text",
        "id": "spread_word_title",
        "label": "Title"
	  },
	  {
		"type": "richtext",
        "id": "spread_word_content",
        "label": "Content"
	  },
	  {
        "type": "header",
        "content": "Why apply affiliate program"
      },
	  {
		"type": "image_picker",
        "id": "affiliate_program_bg",
        "label": "Background"
	  },
	  {
		"type": "text",
        "id": "affiliate_program_title",
        "label": "Title"
	  },
	  {
		"type": "richtext",
        "id": "affiliate_program_content",
        "label": "Content"
	  },
	  {
        "type": "header",
        "content": "Steps to join program"
      },
	  {
		"type": "text",
        "id": "steps_title",
        "label": "Title"
	  },
	  {
        "type": "header",
        "content": "About"
      },
	  {
		"type": "text",
        "id": "grill_title",
        "label": "Title"
	  },
	  {
		"type": "richtext",
        "id": "grill_content",
        "label": "Content"
	  },
	  {
        "type": "header",
        "content": "FAQ"
      },
	  {
		"type": "text",
        "id": "faq_title",
        "label": "Title"
	  },
	  {
		"type": "richtext",
        "id": "faq_content",
        "label": "Content"
	  },
	  {
		"type": "richtext",
        "id": "more_questions",
        "label": "More questions"
	  }
	],
	"blocks": [
      {
        "type": "join_program",
        "name": "Join Program",
        "settings": [
          {
            "type": "image_picker",
            "id": "program_image",
            "label": "Featured Image"
          },
          {
            "type": "text",
            "id": "program_title",
            "label": "Program title"
          },
          {
            "type": "richtext",
            "id": "program_description",
            "label": "Program description"
          }
        ]
      }
    ]
  }
{% endschema %}

{% javascript %}
{% endjavascript %}
