{{ 'banner-bottom-notice.css' | asset_url | stylesheet_tag }}
<style>
     .section-{{section.id}} .page-layout-content{
       padding-top: 0;
        padding-bottom: 78px;
  }
  }
</style>
<banner-bottom-notice>
  <div class="page-layout section-{{section.id}}" style="background: {{ section.settings.color }};">
    <div class="bannernotice">
      {{ section.settings.text }}
    </div>
  </div>
</banner-bottom-notice>
{% schema %}
    {
  "name": "banner-bottom-notice",
  "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "文案"
        },
    {
      "type": "color",
      "id": "color",
      "label": "bgcolor"
    }
  ],
  "presets": [
    {
      "name": "banner-bottom-notice"
    }
  ]
}
{% endschema %}
