{{ 'bread.css' | asset_url | stylesheet_tag }}

<style>
  .section-{{section.id}}{
      padding:{{section.settings.padding}};
  }

  @media screen and (max-width: 768px) {
      .section-{{section.id}}{
      padding:{{section.settings.md_padding}};
  }
  }
</style>

<div class="page-layout section-{{section.id}}">
  <div class="page-layout-content">
    
 
    <div class="section-bread">
        {% for block in section.blocks %}
          <div class="bread-item">
            <a href="{{ block.settings.url }}">{{ block.settings.title }}</a>
            <span>{{ block.settings.text }}</span>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% schema %}
{
  "name": "section-bread",
  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "连接"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "导航名称"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "连接符",
          "default": "<p>/</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-bread"
    }
  ]
}
{% endschema %}
