{{ 'home-mproductcard.css' | asset_url | stylesheet_tag }}
<style>
   .section-{{section.id}} .page-layout-content{
}
  
  section-mbulkpt {
    display: none;
  }
  @media screen and (max-width: 768px) {
    section-mbulkpt {
    display: block;
  }
    .section-mhpc-swiper-h2 {
      font-size: 28px;
      color: #0A97FF;
    }
    .section-mhpc-swiper-p {
      font-size: 14px;
      color: #666666;
    }
    .section-mhpc-swiper-h2 p {
    font-size: 20px !important;
    margin-bottom: 10px !important;
    text-align: left !important;
  }
    .section-mhpc-swiper-h2 {
      margin-top: 40px;
    }
  .mhpc {
    margin-top: 40px;
  }
    .mhpc-item {
      min-height: 485px;
    }
  }
</style>
<section-mbulkpt>
  <div class="page-layout section-{{section.id}}">
    <div class="page-layout-content">
       <h2 class="section-mhpc-swiper-h2">{{ section.settings.title }}</h2>
      {{ section.settings.title1 }}
      <div class="mhpc">
        {% for block in section.blocks %}
        <div class="mhpc-item" style="background-image: url('{{ block.settings.img | image_url }}');">
          <div class="mhpc-text">
           <h2>{{ block.settings.title }}</h2>
           <span>{{ block.settings.text1 }}</span>
            </div>
           <div class="bulkoff">
           <div class="offmode">
              <div class="offitem">
                {{ block.settings.text3 }}
                 {{ block.settings.text4 }}
              </div>
             <div class="offitem">
                {{ block.settings.text5 }}
                 {{ block.settings.text6 }}
              </div>
             <div class="offitem">
                {{ block.settings.text7 }}
                 {{ block.settings.text8 }}
              </div>
             <div class="offitem">
                {{ block.settings.text9 }}
                 {{ block.settings.text10 }}
              </div>
           </div>
          </div>
          <div class="mhpclm">
            <a href="{{ block.settings.url }}">{{ block.settings.text2 }}</a>
          </div>
          <div class="mhpcbn">
            <a href="{{ block.settings.url1 }}">
             {% render 'img-lazyload', image_url: block.settings.img1 %}
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section-mbulkpt>
{% schema %}

    {
  "name": "section-mbulkpt",
  "settings": [
    
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "richtext",
      "id": "title1",
      "label": "标题"
    }
  ],
     "blocks": [
    {
      "name": "items",
      "type": "items",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "标题"
        },
        {
          "type": "richtext",
          "id": "text1",
          "label": "红标"
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": "产品图片"
        },
        {
          "type": "url",
          "id": "url",
          "label": "learn more链接"
        },
        {
          "type": "richtext",
          "id": "text2",
          "label": "learn more 文案"
        },
        {
          "type": "url",
          "id": "url1",
          "label": "buy now链接"
        },
        {
          "type": "image_picker",
          "id": "img1",
          "label": "购物车图片"
        },
        {
          "type": "richtext",
          "id": "text3",
          "label": "文案"
        },
        {
          "type": "richtext",
          "id": "text4",
          "label": "文案"
        },
        {
          "type": "richtext",
          "id": "text5",
          "label": "文案"
        },
        {
          "type": "richtext",
          "id": "text6",
          "label": "文案"
        },
        {
          "type": "richtext",
          "id": "text7",
          "label": "文案"
        },
        {
          "type": "richtext",
          "id": "text8",
          "label": "文案"
        },
        {
          "type": "richtext",
          "id": "text9",
          "label": "文案"
        },
        {
          "type": "richtext",
          "id": "text10",
          "label": "文案"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-mbulkpt"
    }
  ]
}

{% endschema %}
