{{ 'bulk-note.css' | asset_url | stylesheet_tag }}
<style>
     .section-{{section.id}} .page-layout-content{
       padding-top: 160px;
  }
</style>
<section-bulknote>
  <div class="page-layout section-{{section.id}}">
    <div class="page-layout-content">
      <div class="bulknote">
        {% render 'img-lazyload', image_url: section.settings.img %}
        <div class="bulkntext">
          {{ section.settings.text1 }}
          {{ section.settings.text2 }}
          {{ section.settings.text3 }}
          {{ section.settings.text4 }}
          {{ section.settings.text5 }}
        </div>
      </div>
      <div class="mbulknote">
        {% render 'img-lazyload', image_url: section.settings.img1 %}
       </div>
    </div>
  </div>
</section-bulknote>
{% schema %}
    {
  "name": "section-bulknote",
  "settings": [
       {
          "type": "image_picker",
          "id": "img",
          "label": "产品图片"
        },
        {
          "type": "image_picker",
          "id": "img1",
          "label": "产品图片"
        },
        {
          "type": "richtext",
          "id": "text1",
          "label": "文案"
        },
        {
          "type": "richtext",
          "id": "text2",
          "label": "文案"
        },
        {
          "type": "richtext",
          "id": "text3",
          "label": "文案"
        },
        {
          "type": "richtext",
          "id": "text4",
          "label": "文案"
        },
        {
          "type": "richtext",
          "id": "text5",
          "label": "文案"
        }
   ],

  "presets": [
    {
      "name": "section-bulknote"
    }
  ]
}
{% endschema %}
