{{ 'festival-note.css' | asset_url | stylesheet_tag }}
<style>
     .section-{{section.id}} .page-layout-content{
       background: #F6F7F9;
       border-radius: 15px 15px 0px 0px;
       padding: 45px 136px;
       max-width: 1200px;
  }
  #shopify-section-{{section.id}} {
    background: #A6C8F2;
  }
   @media screen and (max-width: 768px) {
     
  .section-{{section.id}} .page-layout-content{
       padding: 35px;
  }
   }
</style>
<festival-note>
  <div class="page-layout section-{{section.id}}">
    <div class="page-layout-content">
      <div class="cla-title">{{ section.settings.title }}</div>
      <div class="fsnote-content">
        {{ section.settings.text }}
      </div>
      <div class="fsnote-content1">
        {{ section.settings.text1 }}
      </div>
    </div>
  </div>
</festival-note>
{% schema %}
    {
  "name": "festival-note",
  "settings": [

    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    },
    {
          "type": "richtext",
          "id": "text",
          "label": "标题"
        },
    {
          "type": "richtext",
          "id": "text1",
          "label": "link标题"
        }
  ],
  "presets": [
    {
      "name": "festival-note"
    }
  ]
}
{% endschema %}
