{{ 'festival-accessories.css' | asset_url | stylesheet_tag }}
<style>
     .section-{{section.id}} .page-layout-content{
       padding-bottom: 78px;
       max-width: 1200px;
  }
  #shopify-section-{{section.id}} {
    background: #A6C8F2;
  }
   
</style>
<festival-accessories>
  <div class="page-layout section-{{section.id}}">
    <div class="page-layout-content">
      <div class="fla-title">{{ section.settings.title }}</div>
      <div class="fla-des">{{ section.settings.text }}</div>
       <div class="fla-lm">
            <a href="{{ section.settings.url }}">{{ section.settings.text1 }}</a>
          </div>
      <div class="fla-pcard">
        {% for block in section.blocks %}
          <a href="{{ block.settings.url }}">
        <div class="fla-pcard-item">
          {% render 'img-lazyload', image_url: block.settings.img%}
          <div class="fla-text">
          {{ block.settings.text }}
          </div>
        </div>
          </a>
          {% endfor %}
      </div>
    </div>
  </div>
</festival-accessories>
{% schema %}
    {
  "name": "festival-accessories",
  "settings": [

    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    },
    {
          "type": "richtext",
          "id": "text",
          "label": "标题"
        },
    {
          "type": "richtext",
          "id": "text1",
          "label": "link标题"
        },
    {
          "type": "url",
          "id": "url",
          "label": "link"
        }
  ],
     "blocks": [
    {
      "name": "items",
      "type": "items",
      "settings": [
        
        {
          "type": "image_picker",
          "id": "img",
          "label": "产品图"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "标题"
        },
        {
           "type": "url",
            "id": "url",
            "label": "产品链接"
         }
      ]
    }
  ],
  "presets": [
    {
      "name": "festival-accessories"
    }
  ]
}
{% endschema %}
