{{ 'header-new.css' | asset_url | stylesheet_tag }}
{{ 'layer.css' | asset_url | stylesheet_tag }}
<script src="{{'header-new.js' | asset_url}}" defer></script>
<script src="{{'layer.js' | asset_url}}" defer></script>
<link rel="alternate" href="https://global.revopoin3d.com/fr-fr" hreflang="fr-fr" />
<link rel="alternate" href="https://global.revopoin3d.com/de-de" hreflang="de-de" />
<link rel="alternate" href="https://www.revopoin3d.jp" hreflang="ja" />
<link rel="alternate" href="https://www.revopoin3d.com" hreflang="en-us" />
<script async defer src="https://tools.luckyorange.com/core/lo.js?site-id=85f2c32e"></script>

<script>
  		!function (w, d, t) {
  		  w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++
  )ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src=i+"?sdkid="+e+"&lib="+t;e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(n,e)};

  		  ttq.load('C8EC3856SEU3P64PF1LG');
  		  ttq.page();
  		}(window, document, 'ttq');
</script>

<script>
  window.addEventListener('load', function(event){
  if(window.location.href.includes("https://www.revopoint3d.jp/")){
  gtag('event', '全站页面浏览');
  }
  });
</script>

<!-- Hotjar Tracking Code for my site -->

  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:3251976,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

<script charset="UTF-8">
  var sensors = window['sensorsDataAnalytic201505'];
  window.sensorsDataAnalytic201505.init({
    server_url: 'http://zhixiangguangdian.datasink.sensorsdata.cn/sa?token=ed54f98774390307',
    heatmap:{scroll_notice_map:'not_collect'},
    use_client_time:true,
    send_type:'beacon'
  });
  sensors.quick('autoTrack');
</script>


{% render 'drawer-menu', blocks: section.blocks %}

{% capture logo_content %}
  {% if section.settings.logo != blank %}
     {% render 'img-lazyload', class_name: 'pclogo', image_url: section.settings.logo %}
     {% render 'img-lazyload', class_name: 'mblogo', image_url: section.settings.logo1 %}
    <span class="hide">{{ shop.name }}</span>
    {% else %}
    <span >{{ shop.name }}</span>
  {% endif %}
{% endcapture %}
<div class="header-new">
  <div class="header-new-container">
    <div class="header-menu-icons">
      <div class="header-menu-event">
        {%- render 'menu-icon', class: 'header-menu-icon-open' %}
        {% render 'menu-icon-close', class: 'header-menu-icon-close' -%}
      </div>
      <a href="{{ routes.search_url }}" class="header-icon-search header-icon-link" aria-controls="search-drawer">
        <span class="sr-only">{{ 'header.general.open_search' | t }}</span>
        {%- render 'icon' with 'search' -%}
      </a>
    </div>
    <div class="header-logo">
      {%- if request.page_type == 'index' -%}
        <div class="header-title">
          <a href="{{ routes.root_url }}">
            {{ logo_content }}
          </a>
        </div>
      {% else %}
        <span class="header-title">
          <a href="{{ routes.root_url }}">{{ logo_content }}</a>
        </span>
      {% endif %}
    </div>
    <div class="header-content">
      {% render 'header-menu', blocks: section.blocks %}
    </div>
    <div class="header-icons">
      <a href="{{ routes.search_url }}" class="header-icon-search header-icon-link" aria-controls="search-drawer">
        <span class="sr-only">{{ 'header.general.open_search' | t }}</span>
        {%- render 'icon' with 'search' -%}
      </a>

      {%- if shop.customer_accounts_enabled -%}
        <a href="{{ routes.account_url }}" class="header-icon-user header-icon-link">
          <span class="sr-only">{{ 'header.general.open_account' | t }}</span>
          {%- render 'icon' with 'account' -%}
        </a>
      {%- endif -%}
      <a
        href="{{ routes.cart_url }}"
        class="header-icon-link relative"
        {% if settings.cart_type != 'page' and request.page_type != 'cart' %}
          aria-controls="cart-drawer"
        {% endif %}
      >
        <span class="sr-only">{{ 'header.general.open_cart' | t }}</span>
        {%- render 'icon' with 'cart' -%}

        <div class="header__cart-count">
          <cart-count class="count-bubble {% if cart.item_count == 0 %}opacity-0{% endif %}" aria-hidden="true">
            {{- cart.item_count -}}
          </cart-count>
        </div>
      </a>
      <a id="countryselect" onclick="layer_country()"><div class="flag flag-ja"></div><span lang="en">Japan</span></a>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "header-new",
  "class": "header-new-sticky",
  "tag": "header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "官网logo"
    },
    {
      "type": "image_picker",
      "id": "logo1",
      "label": "官网logo"
    }
  ],
  "blocks": [
    {
      "name": "一级导航标题block",
      "type": "menu",
      "settings": [
        {
          "type": "select",
          "id": "menu_type",
          "label": "二级导航类型",
          "default": "type1",
          "options": [
            {
              "label": "type1",
              "value": "type1"
            },
            {
              "label": "type2",
              "value": "type2"
            },
            {
              "label": "type3",
              "value": "type3"
            },
            {
              "label": "type4",
              "value": "type4"
            }
          ]
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "一级导航标题"
        },
        {
          "type": "url",
          "id": "menu_link",
          "label": "一级标题跳转链接"
        },
        {
          "type": "checkbox",
          "id": "isShowArrow",
          "label": "是否显示箭头"
        }
      ]
    },
    {
      "name": "二级导航内容项",
      "type": "sub_menu",
      "settings": [
        {
          "type": "number",
          "id": "number",
          "label": "属于哪个一级标题",
          "default": 1
        },
        {
          "type": "select",
          "id": "menu_type",
          "label": "二级导航类型",
          "default": "type1",
          "options": [
            {
              "label": "type1",
              "value": "type1"
            },
            {
              "label": "type2",
              "value": "type2"
            },
            {
              "label": "type3",
              "value": "type3"
            },
            {
              "label": "type4",
              "value": "type4"
            }
          ]
        },
        {
          "type": "select",
          "id": "three_card_type",
          "label": "三级导航类型",
          "default": "default",
          "options": [
            {
              "label": "默认卡片类型",
              "value": "default"
            },
            {
              "label": "卡片类型2",
              "value": "card_type2"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "sub_text",
          "label": "二级导航标题"
        },
        {
          "type": "url",
          "id": "sub_link",
          "label": "二级导航跳转链接"
        },
        {
          "type": "url",
          "id": "view_link",
          "label": "view all 链接"
        },
        {
          "type": "richtext",
          "id": "comparison_title",
          "label": "标题"
        },
        {
          "type": "inline_richtext",
          "id": "comparison_text",
          "label": "comparison 按钮文案"
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": "配图"
        },
        {
          "type": "text",
          "id": "call_text",
          "label": "类型四链接文本"
        },
        {
          "type": "url",
          "id": "call_url",
          "label": "类型四链接"
        },
        {
          "type": "text",
          "id": "learn_text",
          "label": "learn 文本",
          "default": "Learn More >"
        },
        {
          "type": "url",
          "id": "learn_url",
          "label": "learn url"
        }
      ]
    },
    {
      "name": "三级内容项",
      "type": "three_menu",
      "settings": [
        {
          "type": "number",
          "id": "number",
          "label": "属于哪个二级项",
          "default": 1
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": "配图"
        },
        {
          "type": "image_picker",
          "id": "extras_img",
          "label": "产品额外说明小图标"
        },
        {
          "type": "image_picker",
          "id": "discount_img",
          "label": "产品折扣小图标"
        },
        {
          "type": "richtext",
          "id": "product_title",
          "label": "产品标题"
        },
        {
          "type": "richtext",
          "id": "product_tip",
          "label": "产品附加文本1"
        },
        {
          "type": "richtext",
          "id": "product_text",
          "label": "产品小标题"
        },
        {
          "type": "text",
          "id": "learn_more",
          "label": "Learn More",
          "default": "Learn More"
        },
        {
          "type": "url",
          "id": "learn_url",
          "label": "Learn url"
        },
        {
          "type": "text",
          "id": "buy_now",
          "label": "Buy Now",
          "default": "Buy Now"
        },
        {
          "type": "url",
          "id": "buy_now_url",
          "label": "buy_now 链接"
        }
      ]
    },
    {
      "name": "Comparison 独有项",
      "type": "comparison",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Comparison"
        },
        {
          "type": "inline_richtext",
          "id": "btn_text",
          "label": "按钮文案",
          "default": "Click Here to Find Out"
        }
      ]
    },
    {
      "name": "link",
      "type": "link-item",
      "settings": [
        {
          "type": "number",
          "id": "number",
          "label": "属于哪个二级项",
          "default": 1
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "链接文本"
        },
        {
          "type": "url",
          "id": "link",
          "label": "跳转链接"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "header-new"
    }
  ]
}
{% endschema %}
{% include 'alireviews_aggregateRating' %}
