{{ 'home-productcard.css' | asset_url | stylesheet_tag }}
<style>
   .section-{{section.id}} .page-layout-content{
      max-width: 1550px !important;
}
   section-hpc {
    display: block;
  }
  @media screen and (max-width: 768px) {
    section-hpc {
    display: none;
  }
  }
</style>
<section-hpc>
  <div class="page-layout section-{{section.id}}">
    <div class="page-layout-content">
      <h1 class="section-hpc-swiper-h2">{{ section.settings.title }}</h1>
      <div class="hpc">
        {% for block in section.blocks %}
        <div class="hpc-item">
          <h2>{{ block.settings.title }}</h2>
          <p>{{ block.settings.text }}</p>
          <span>{{ block.settings.text1 }}</span>
          <div class="ptimg">
          {% render 'img-lazyload', image_url: block.settings.img%}
          </div>
          <div class="hpclm">
            <a href="{{ block.settings.url }}">{{ block.settings.text2 }}</a>
          </div>
          <div class="hpcbn">
            <a href="{{ block.settings.url1 }}">
              <p>今すぐ購入</p>
              <div class="cart-icon">
              {% render 'img-lazyload', image_url: block.settings.img1 %}
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section-hpc>
{% schema %}

    {
  "name": "section-hpc",
  "settings": [
    
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    }
  ],
     "blocks": [
    {
      "name": "items",
      "type": "items",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "标题"
        },
        {
          "type": "text",
          "id": "text",
          "label": "文本内容"
        },
        {
          "type": "richtext",
          "id": "text1",
          "label": "红标"
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": "产品图片"
        },
        {
          "type": "url",
          "id": "url",
          "label": "learn more链接"
        },
        {
          "type": "richtext",
          "id": "text2",
          "label": "learn more 文案"
        },
        {
          "type": "url",
          "id": "url1",
          "label": "buy now链接"
        },
        {
          "type": "image_picker",
          "id": "img1",
          "label": "购物车图片"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-hpc"
    }
  ]
}

{% endschema %}
