{{ 'home-mrecoby.css' | asset_url | stylesheet_tag }}
<style>
   .section-{{section.id}} .page-layout-content{
}
  section-mrecoby {
    display: none;
  }
  @media screen and (max-width: 768px) {
    section-mrecoby {
    display: block;
  }
  }
</style>
<section-mrecoby>
  <swiper-component
  id="section-{{section.id}}"
  data-open="true"
  data-space-between="25"
  data-slides-per-view="1"
  data-breakpoints='{"769":{"slidesPerView":3,"spaceBetween":25}}'
>
  <div class="page-layout section-{{section.id}}">
    <div class="page-layout-content">
       <h2 class="section-mrecoby-h2">{{ section.settings.title }}</h2>
       <div class="swiper-container ">
          <div class="swiper-wrapper">
        {% for block in section.blocks %}
        <div class="mblog-item swiper-slide">
        {% render 'img-lazyload', image_url: block.settings.img %}
        <div class="mblog-text">
          <p>{{ block.settings.text }}</p>
        </div>
        </div>
          {% endfor %}
        
      </div>
         <div class="swiper-pagination"></div>
    </div>
    </div>
  </div>
    </swiper-component>
</section-mrecoby>
{% schema %}

    {
  "name": "section-mrecoby",
  "settings": [
    
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    }
  ],
      "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "图片"
        },
        {
          "type": "text",
          "id": "text",
          "label": "标题"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-mrecoby"
    }
  ]
}

{% endschema %}
