{{ 'home-mproductcard.css' | asset_url | stylesheet_tag }}
<style>
   .section-{{section.id}} .page-layout-content{
}
  section-mhpc {
    display: none;
  }
  @media screen and (max-width: 768px) {
    section-mhpc {
    display: block;
  }
  }
</style>
<section-mhpc>
  <div class="page-layout section-{{section.id}}">
    <div class="page-layout-content">
       <h1 class="section-mhpc-swiper-h2">{{ section.settings.title }}</h1>
      <div class="mhpc">
        {% for block in section.blocks %}
        <div class="mhpc-item" style="background-image: url('{{ block.settings.img | image_url }}');">
          <div class="mhpc-text">
             <span>{{ block.settings.text1 }}</span>
           <h2>{{ block.settings.title }}</h2>
           <p>{{ block.settings.text }}</p>
            </div>
          <div class="mhpclm">
            <a href="{{ block.settings.url }}">{{ block.settings.text2 }}</a>
          </div>
          <div class="mhpcbn">
            <a href="{{ block.settings.url1 }}">
             {% render 'img-lazyload', image_url: block.settings.img1 %}
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section-mhpc>
{% schema %}

    {
  "name": "section-mhpc",
  "settings": [
    
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    }
  ],
     "blocks": [
    {
      "name": "items",
      "type": "items",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "标题"
        },
        {
          "type": "text",
          "id": "text",
          "label": "文本内容"
        },
        {
          "type": "richtext",
          "id": "text1",
          "label": "红标"
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": "产品图片"
        },
        {
          "type": "url",
          "id": "url",
          "label": "learn more链接"
        },
        {
          "type": "richtext",
          "id": "text2",
          "label": "learn more 文案"
        },
        {
          "type": "url",
          "id": "url1",
          "label": "buy now链接"
        },
        {
          "type": "image_picker",
          "id": "img1",
          "label": "购物车图片"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-mhpc"
    }
  ]
}

{% endschema %}
