{{ 'home-number.css' | asset_url | stylesheet_tag }}
<style>
     .section-{{section.id}} .page-layout-content{
  }
    section-mrecoby {
      display: none;
    }
    @media screen and (max-width: 768px) {
      section-mrecoby {
      display: block;
    }
    }
</style>
<home-number>
  <div class="page-layout section-{{section.id}}">
    <div class="page-layout-content">
      <h2 class="section-hpc-swiper-h2">{{ section.settings.title }}</h2>
      <div class="numtop">
        <div class="numitem">
          {% render 'img-lazyload', image_url: section.settings.img1 %}
          <p class="fistp">{{ section.settings.text1 }}</p>
          <p class="lstp">{{ section.settings.text2 }}</p>
        </div>
        <div class="numitem">
          {% render 'img-lazyload', image_url: section.settings.img2 %}
          <p class="fistp">{{ section.settings.text3 }}</p>
          <p class="lstp">{{ section.settings.text4 }}</p>
        </div>
        <div class="numitem">
          {% render 'img-lazyload', image_url: section.settings.img3 %}
          <p class="fistp">{{ section.settings.text5 }}</p>
          <p class="lstp">{{ section.settings.text6 }}</p>
        </div>
      </div>
      <swiper-component
        id="section-{{section.id}}"
        data-open="true"
        data-space-between="15"
        data-slides-per-view="1"
        data-breakpoints='{"769":{"slidesPerView":3,"spaceBetween":15}}'
      >
        <div class="swiper-container num">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              <div class="number-item swiper-slide">
                {% render 'img-lazyload', image_url: block.settings.img %}
              </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </swiper-component>
    </div>
  </div>
</home-number>
{% schema %}
    {
  "name": "home-number",
  "settings": [

    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    },
    {
          "type": "image_picker",
          "id": "img1",
          "label": "图片"
        },
    {
          "type": "image_picker",
          "id": "img2",
          "label": "图片"
        },
    {
          "type": "image_picker",
          "id": "img3",
          "label": "图片"
        },
    {
          "type": "text",
          "id": "text1",
          "label": "标题"
        },
    {
          "type": "text",
          "id": "text2",
          "label": "标题"
        },
    {
          "type": "text",
          "id": "text3",
          "label": "标题"
        },
    {
          "type": "text",
          "id": "text4",
          "label": "标题"
        },
    {
          "type": "text",
          "id": "text5",
          "label": "标题"
        },
    {
          "type": "text",
          "id": "text6",
          "label": "标题"
        }
  ],

      "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "图片"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "home-number"
    }
  ]
}
{% endschema %}
