{{ 'hpswiper.css' | asset_url | stylesheet_tag }}
<style>
   .section-hpc-swiper-container .page-layout-content{
      max-width: 100% !important;
     padding-top: 100px;
}
  @media screen and (max-width: 768px) {
     .section-hpc-swiper-container .page-layout-content{

        padding-bottom: 60px;
}
  }
</style>
<swiper-component
  id="section-{{section.id}}"
  data-open="true"
  data-space-between="25"
  data-slides-per-view="1"
  data-breakpoints='{"769":{"slidesPerView":3,"spaceBetween":25}}'
>
  <div class="page-layout section-hpc-swiper-container">
    <div class="page-layout-content">
      <h2 class="section-hpc-swiper-h2">{{ section.settings.title }}</h2>

      <div class="section-hpc-swiper">
        <div class="swiper-container ">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              <div class="swiper-slide">
                {% render 'img-lazyload', image_url: block.settings.img %}
                <div class="swdes">
                  <h3>{{ block.settings.title }}</h3>
                  <p>{{ block.settings.text }}</p>
                  <a href="{{ block.settings.url }}">さらに詳しく</a>
                </div>
              </div>
            {% endfor %}
          </div>
          {% comment %}
             <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          {% endcomment %}
          <div class="swiper-pagination"></div>
        </div>
        {% comment %}
        <div class="swiper-button-prev">
        </div>
        <div class="swiper-button-next">
        </div>
         {% endcomment %}
      </div>
    </div>
  </div>
</swiper-component>

{% schema %}
{
  "name": "section-hpc-swiper",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    }
  ],
  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "产品图片"
        },
        {
          "type": "text",
          "id": "title",
          "label": "标题"
        },
        {
          "type": "text",
          "id": "text",
          "label": "文本内容"
        },
        {
          "type": "url",
          "id": "url",
          "label": "learn more链接"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-hpc-swiper"
    }
  ]
}
{% endschema %}
