{{ 'inspire-overview.css' | asset_url | stylesheet_tag }}
<style>
     .section-{{section.id}} .page-layout-content{
       padding-top: 160px;
       padding-bottom: 120px;
     }
  @media screen and (max-width: 768px) {
}
  .section-{{section.id}} .page-layout-content{
       padding-top: 50px;
    padding-bottom: 50px;
     }
}
</style>
<inspire-overview>
  <div class="page-layout section-{{section.id}}" id="inspireover">
    <div class="page-layout-content">
      
      <h2 class="inspiretitle"> {{ section.settings.title }}</h2>
    <div class="grid-container">
      {% for block in section.blocks %}
        <div class="item item{{ forloop.index }}">
            {% render 'img-lazyload', image_url: block.settings.img %}
          <div class="ovtext">{{ block.settings.text }}</div>
        </div>
        {% endfor %}
    </div>
    </div>
  </div>
  </inspire-overview>

{% schema %}
{
    "name": "inspire-overview",
    "settings": [
      
       {
          "type": "richtext",
          "id": "title",
          "label": "标题"
        }
    ],
    "blocks": [
        {
            "type": "tab",
            "name": "Tab",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "img",
                    "label": "Tab Image"
                },
               {
                    "type": "richtext",
                    "id": "text",
                    "label": "标题"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "inspire-overview"
        }
    ]
}
{% endschema %}