<!-- /templates/page.liquid -->
<section class="page page-top">
  <div class="wrapper">
    <header class="content-util">
    {% include 'breadcrumb' %}
      <div class="faq-header-wrap">
      <div class="faq-search">
        <form action="/search" method="get" role="search">
          <div class="input-wrapper">
            <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="input-group-field" aria-label="{{ 'general.search.placeholder' | t }}">
          </div>
        </form>  
      </div>
      {% include 'social-icons' %}
      </div>
    </header>
  </div>
</section>
<style>
  .faq-header-wrap {
   display: flex;
    align-items: center;
    justify-content: center;
  }
  .faq-header-wrap .social-icons {
    flex: none;
    margin-left: auto;
  }
  .faq-search {
  	width: 70%; 
    margin: 0 20px;
  }
  .faq-search input.input-group-field {
    width: 100%;
  	border: 1px solid;
    padding: 5px 20px;
  }
  .faq-content {
  	margin-bottom: 50px;
  }
  .faq-content-tabs .page-header h1 {
  	border: none !important;
    margin-bottom: 20px;
  }
  .faq-content-tabs .page-header span {
  	display: inline-block;
    padding-bottom: 5px;
    border-bottom: 5px solid #596fa8;
  }
  .faq-content-tabs {
  	padding: 150px 15px 20px;
    margin-bottom: 60px;
    background-color: #f7f8fa;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 3px 22px -9px rgb(0 0 0 / 30%);
    text-align: center;
    position: relative;
  }
  .faq-content-tabs:before {
  	content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
  }
  @media only screen and (max-width: 767px) {
    .faq-content-tabs {
      padding-top: 122px;
    }
  }
  .faq-content-tabs div {
    position: relative;
    z-index: 1;
  }
  .faq-content-tabs ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media only screen and (max-width: 767px) {
    .faq-content-tabs ul {
      flex-wrap: wrap;
      margin: 0;
    }
  }
  .faq-content-tabs ul li {
    list-style: none;
    margin: 0 5px 10px;
    flex: 1;
  }
  @media only screen and (max-width: 767px) {
    .faq-content-tabs ul li {
      list-style: none;
      margin: 5px;
      flex: none;
      width: calc((100% / 2) - 20px);
    }
  }
  .faq-content-tabs ul li a {
    display: block;
    color: #000;
    text-decoration: none;
    border: 1px solid #aaa;
    padding: 8px 10px;
    background-color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    cursor: pointer;
  }
  @media only screen and (max-width: 767px) {
    .faq-content-tabs ul li a {
      font-size: 13px;
    }
  }
  .faq-content-heading {
  	font-weight: bold;
  }
  @media only screen and (max-width: 767px) {
    .faq-content .faq-content-heading {
      font-size: 24px !important;
    }
    .faq-item-subheading {
      font-size: 18px !important;
    }
  }
  .faq-content-heading,
  .faq-item-subheading {
  	font-weight: bold;
  }
  .faq-item-subheading {
  	text-transform: none;
  }
  .faq-item-content {
  	border-bottom: 1px solid #888888;
  }
  .faq-item-question {
  	padding: 10px 30px 10px 20px;
    position: relative;
    cursor: pointer;
  }
  .faq-item-question::before {
  	content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto 0;
    width: 10px;
    height: 10px;
    background-color: #596fa8;
    border-radius: 100%;
  }
  .faq-item-question::after {
  	content: "";
    position: absolute;
    right: 20px;
    top: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #596fa8;
    border-right: 2px solid #596fa8;
    transform: rotate(135deg);
    bottom: 0;
    margin: auto 0;
    transition: transform 300ms ease;
  }
  .faq-item-content.active .faq-item-question::after {
  	transform: rotate(-45deg);
  }
  .faq-item-wrap {
    margin-bottom: 20px;
  }
  .faq-item-answer {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 300ms ease;
  }
  .faq-item-answer-inner {
    padding: 10px 0;
  }
  
</style>
<section class="page">
  <div class="wrapper">
    <div class="content-container rte">
      {{ page.content }}
      <div class="faq-content-wrap">
        {% assign faq_tabs = page.metafields.faq_tab.faq_tab %}
        {% assign faq_headings_id = page.metafields.faq_tab_id.faq_tab_id %}
        {% assign faq_contents = page.metafields.faq_content_item.faq_content_item %}
        {% assign faq_image = page.metafields.faq_image.faq_image %}
        <div class="faq-content-tabs" style="background-image: url({{ faq_image }})">
          <div>
            <header class="page-header">
              <h1><span>{{ page.title }}</span></h1>
            </header>
            <ul>
              {% for tab in faq_tabs %}
                <li>
                  <a class="js-scroll" href="{{ faq_headings_id[forloop.index0] }}">{{ tab }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        
        <div>
        	{% for content in faq_contents %}
          		<div class="faq-content">
                  <h2 class="faq-content-heading" id="{{ faq_headings_id[forloop.index0] | slice: 1, faq_headings_id[forloop.index0].size }}">
                    {{ faq_tabs[forloop.index0] }}
                  </h2>
                  {{ content }}
          		</div>
        	{% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
