{{ 'section-pop-banner.css' | asset_url | stylesheet_tag }}

<style>
  .section-pop-banner {
    background-image: url('{{ section.settings.img |  image_url: width: section.settings.img.width  }}');
  }

  @media screen and (max-width: 768px) {
    .section-pop-banner {
      background-image: url('{{ section.settings.md_img |  image_url: width: section.settings.md_img.width }}');
    }
  }
</style>

<div class="section-pop-banner">
  <div class="section-pop-banner-container">
    <div class="section-pop-banner-content">
      <h1 class="section-pop-banner-h1">{{ section.settings.title }}</h1>
      <div class="section-pop-banner-text">{{ section.settings.text }}</div>
      <a class="section-pop-banner-btn" href="{{section.settings.btn_url}}">{{ section.settings.btn_text }}</a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "section-pop-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "img",
      "label": "pc 配图"
    },

    {
      "type": "image_picker",
      "id": "md_img",
      "label": "移动配图"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "文本"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "按钮跳转链接"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "按钮文案",
      "default": "GET NOW >"
    }
  ],
  "presets": [
    {
      "name": "section-pop-banner"
    }
  ]
}
{% endschema %}
