{{ 'soft-ware.css' | asset_url | stylesheet_tag }}
<style>
  .section-{{section.id}}{
      padding-bottom: 80px;
}
</style>
<section-soft-ware>
  <div class="page-layout section-{{section.id}}">
    <div class="page-layout-content">
      <div class="supbgtitle">

        <h2 class="section-faq-h2">
        <p>{{ section.settings.title }}</p>
      </h2>

        <div class="software">
          {% for block in section.blocks %}
            <div class="softwareitem">
              {% render 'img-lazyload', image_url: block.settings.img %}
              <div class="twotitile">
                <h3>{{ block.settings.title }}</h3>
                <p>Updated {{ block.settings.text }}</p>
              </div>
             <div class="dl">
      {% if block.settings.url1 %}
        <a href="{{ block.settings.url1 }}" target="_blank">Download</a>
      {% endif %}
      {% if block.settings.url2 %}
        <a href="{{ block.settings.url2 }}">{{ block.settings.text1 }}</a>
      {% endif %}
    </div>
            </div>
          {% endfor %}
            
          </div>
        <div class="dlvm">
            <a href="{{ section.settings.url }}">もっと見る &gt;</a>
          </div>
      </div>
    </div>
  </div>
  
</section-soft-ware>

{% schema %}

    {
  "name": "section-supportsoft-ware",
  "settings": [
    
    {
      "type": "text",
      "id": "title",
      "label": "板块标题",
      "default": "Software"
    },
    {
      "type": "url",
      "id": "url",
      "label": "view more"
    }
  ],
  "blocks": [
     {
       "name": "item",
      "type": "item",
      "settings": [
      {  
      "type": "image_picker",
      "id": "img",
      "label": "下载渠道icon"
       },
       {
       "type": "text",
       "id": "title",
       "label": "下载渠道名称"
       },
       {
        "type": "text",
        "id": "text",
        "label": "更新日期"
       },
       {
        "type": "url",
        "id": "url1",
        "label": "官网下载地址"
       },
       {
        "type": "url",
        "id": "url2",
        "label": "网盘下载地址"
       },
       {
        "type": "text",
        "id": "text1",
        "label": "第二链接文案"
       }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-supportsoft-ware"
    }
  ]
}

{% endschema %}


