{{ 'hudong.css' | asset_url | stylesheet_tag }}

<style>
  .section-{{section.id}}{
      padding-bottom: 80px;
}
</style>

<section-hudong>
  <div class="page-layout section-{{section.id}}" style="background: {{ section.settings.color }};">
    <div class="page-layout-content">
      <h2 class="hdtitle">{{ section.settings.title }}</h2>
      <div class="huodong">
         {% for block in section.blocks %}
        <div class="huodongitem">
          <a href="{{ block.settings.url }}">
            {% render 'img-lazyload', image_url: block.settings.img %}
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section-hudong>

{% schema %}

    {
  "name": "section-hudong",
  "settings": [
    
    {
      "type": "text",
      "id": "title",
      "label": "板块标题"
    },
    {
      "type": "color",
      "id": "color",
      "label": "bgcolor"
    }
  ],
  "blocks": [
      {
       "name": "item",
      "type": "item",
      "settings": [
      {  
      "type": "url",
      "id": "url",
      "label": "产品购买链接"
      },
      {  
      "type": "image_picker",
      "id": "img",
      "label": "产品购买图"
      }
       
      ]
    }
  ],
  "presets": [
    {
      "name": "section-hudong"
    }
  ]
}

{% endschema %}


