{{ 'section-about-joinus.css' | asset_url | stylesheet_tag }}

<style>
  .section-{{section.id}}{
      padding:{{section.settings.padding}};
  }
  .section-{{section.id}} .page-layout-content {
    padding-top: 85px;
    padding-bottom: 85px;
  }

  @media screen and (max-width: 768px) {
      .section-{{section.id}}{
      padding:{{section.settings.md_padding}};
  }
  }
</style>

<div class="page-layout section-{{section.id}}">
  <div class="page-layout-content">
   <div class="joinus"> 
    <h2 class="section-joinus-h2">{{ section.settings.title }}</h2>
   </div>
    <div class="joinus-model">
      {% for block in section.blocks %}
      <div class="joinus-item">
        <div class="joinus-img">
          <a href="{{ block.settings.url }}">
         {% render 'img-lazyload', image_url: block.settings.img %}
          </a>
        </div>
        <span class="joinustitle">{{ block.settings.text }}</span>
      </div>
        {% endfor %}
<div class="joinus-item">
    <div class="joinus-img" style="position: relative;">
        <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/d87a2b47ab6f49831724f97bca78b38f.png">
        <div class="joinus-text">
            <p id="joinText">コミュニティーに参加する</p>
            <div class="jsocial">
                <a href="https://www.facebook.com/people/Revopoint-JP/100075514044211/ ">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/Smart_Business_Solutions_-_eufy_Europe_430x.png">
                </a>
                <a href="https://www.instagram.com/revopoint_jp/ ">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/Smart_Business_Solutions_-_eufy_Europe-1_430x.png">
                </a>
                <a href="https://twitter.com/REVOPOINTJAPAN ">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/2048px-X_logo_2023_original_svg_430x.png">
                </a>
                <a href="https://www.youtube.com/@revopointjapan/featured">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/Youtube-fill_430x.png">
                </a>
            </div>
        </div>
    </div>

</div>
</div>

</div>
</div>
<script>
  const joinText = document.getElementById('joinText');
  const jsocial = document.querySelector('.jsocial');

  joinText.addEventListener('mouseenter', function() {
    joinText.style.display = 'none'; 
    jsocial.style.display = 'grid'; 
  });

  jsocial.addEventListener('mouseleave', function() {
    jsocial.style.display = 'none'; 
    joinText.style.display = 'block'; 
  });
</script>
{% schema %}
{
  "name": "section-about-joinus",
  "settings": [
    
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    }
  ],
  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "配图"
        },
        {
          "type": "url",
          "id": "url",
          "label": "链接"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "文本内容"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-about-joinus"
    }
  ]
}
{% endschema %}