{{ 'supportcontact.css' | asset_url | stylesheet_tag }}
<section-supportcontact>
  <div class="page-layout section-{{section.id}}">
    <div class="page-layout-content">
      <h2 class="section-faq-h2">
        <p>お問い合わせ</p>
      </h2>
      <div class="contact">
            <div class="live-left">
              {% render 'img-lazyload', image_url: section.settings.img %}
              <div class="contacttitle">
                 <a href="" class="lc" style="display: none;">Live Chat &gt;</a>
                <p>{{ section.settings.text1 }}</p>
                <p style="margin-top: 23px;">{{ section.settings.text2 }}</p>
                 <a href="{{ section.settings.url }}" class="lc"><p>{{ section.settings.text3 }}</p></a>
              </div>
            </div>

            <div class="live-right">
              <div class="contacttitle">
                <h2>{{ section.settings.text4 }}</h2>
                <p>
                  {{ section.settings.text5 }}
                </p>
              </div>
            </div>
          </div>
    </div>
  </div>
</section-supportcontact>
{% schema %}

    {
  "name": "section-supportcontact",
  "settings": [
    
    {
       "type": "image_picker",
      "id": "img",
      "label": "配图"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "描述"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "描述"
    },
    {
      "type": "url",
      "id": "url",
      "label": "邮箱地址"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "邮箱地址"
    },
    {
      "type": "text",
      "id": "text4",
      "label": "描述"
    },
    {
      "type": "text",
      "id": "text5",
      "label": "描述"
    }
  ],
  "presets": [
    {
      "name": "section-supportcontact"
    }
  ]
}

{% endschema %}
