<section-modal-json>
  <div class="section-modal-json">
    <div class="section-modal-container">
      <div class="section-modal-title">{{ section.settings.title }}</div>
      <div class="section-modal-content">
        {% liquid
          assign product_items = section.blocks | where: 'type', 'product'
          assign type_values = section.blocks | where: 'type', 'type_value'
        %}
        <div class="section-modal-header">
          <div class="modal-header-product-left"></div>
          <div class="modal-header-product-content">
            <div class="section-modal-header-ward">
              {% for product_item in product_items %}
                <div class="modal-header-product-item">
                  {% render 'img-lazyload',
                    class_name: 'modal-header-product-img',
                    image_url: product_item.settings.img
                  %}
                  <div class="modal-header-product-item-text">
                    {{ product_item.settings.product_title }}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="modal-header-product-right"></div>
        </div>
        <div class="section-modal-scroll-container">
          <div class="section-modal-ward">
            {% for value in type_values %}
              <div class="modal-ward-item">
                <div class="modal-ward-item-type">
                  {{ value.settings.type }}
                </div>
                <div class="modal-ward-item-content">
                  <div class="modal-ward-item-value">
                    {{ value.settings.text1 }}
                  </div>
                  <div class="modal-ward-item-value">
                    {{ value.settings.text2 }}
                  </div>
                </div>
                <div class="modal-ward-item-right"></div>
              </div>
            {% endfor %}
          </div>
          {% comment %}
             <div class="modal-nav-next"></div>
            <div class="modal-nav-prev"></div>
          {% endcomment %}
          <div class="modal-scrollbar-container">
            <div class="modal-scrollbar-thumb" id="scrollbarThumb"></div>
          </div>
        </div>
        <div class="section-modal-link-box">
          <div class="section-modal-link-t"></div>
          <div class="section-modal-links">
            {% for t in product_items %}
              <a class="section-modal-link" href="{{t.settings.url}}">今すぐ購入 ></a>
            {% endfor %}
          </div>
          <div class="section-modal-link-t"></div>
        </div>
      </div>
      <button class="section-modal-back-btn">戻る ></button>
    </div>
  </div>
</section-modal-json>

{% schema %}
{
  "name": "section-modal-json",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "number",
      "id": "number",
      "label": "序号"
    }
  ],
  "blocks": [
    {
      "name": "产品",
      "type": "product",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "产品图"
        },
        {
          "type": "richtext",
          "id": "product_title",
          "label": "产品标题"
        },
        {
          "type": "url",
          "label": "跳转链接",
          "id": "url"
        }
      ]
    },
    {
      "name": "类型值 block",
      "type": "type_value",
      "settings": [
        {
          "type": "richtext",
          "id": "type",
          "label": "类型"
        },
        {
          "type": "richtext",
          "id": "text1",
          "label": "类型值1"
        },
        {
          "type": "richtext",
          "id": "text2",
          "label": "类型值2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-modal-json"
    }
  ]
}
{% endschema %}
