<style>
  .section-imgtext-feature__wrapper {
      padding-block-start: 40px;
      padding-block-end: 40px;
  }
  .section-imgtext-feature__content {
      display: flex;
      gap: 20px;
      flex-direction: column;
  }
  .section-imgtext-feature__title {
    text-align: center;
    font: normal normal 600 48px/72px Poppins;
    letter-spacing: 0px;
    color: #000000;
    padding-block-end: 48px;
  }
  .section-imgtext-feature__desc {
    font: normal normal normal 16px/24px Poppins;
    color: #666666;
    padding-block-start: 10px;
  }

    .section-imgtext-feature__content .section-imgtext-feature__imgtext-item {
      display: flex;
      gap: 70px;
    }

    .section-imgtext-feature__imgtext-img {
      max-width: 538px;
    }

    .section-imgtext-feature__content .section-imgtext-feature__imgtext-item:nth-of-type(even) {
      flex-direction: row-reverse;
      margin-top: -50px;
    }

    .section-imgtext-feature__content .section-imgtext-feature__imgtext-item:nth-of-type(even) .section-imgtext-feature__imgtext-text {
      display: flex;
      align-items: end;
      justify-content: flex-end;
    }

    .section-imgtext-feature__content .section-imgtext-feature__imgtext-item .section-imgtext-feature__imgtext-text {
      width: calc(50% - 40px);
    }

    .section-imgtext-feature__content .section-imgtext-feature__imgtext-item .section-imgtext-feature__imgtext-text .section-imgtext-feature__imgtext-text-title {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .section-imgtext-feature__content .section-imgtext-feature__imgtext-item .section-imgtext-feature__imgtext-text .section-imgtext-feature__imgtext-text-title p {
      flex: unset;
    }

    .section-imgtext-feature__content .section-imgtext-feature__imgtext-item:nth-of-type(even) .section-imgtext-feature__imgtext-text>div {
      align-items: flex-end;
      justify-content: flex-end;
    }

    .section-imgtext-feature__content .section-imgtext-feature__imgtext-item:nth-of-type(even) .section-imgtext-feature__imgtext-text .section-imgtext-feature__imgtext-text-title {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

    @media screen and (max-width: 1400px) {
      .section-imgtext-feature__content .section-imgtext-feature__imgtext-item:nth-of-type(even) {
        margin-top: 0;
      }
    }

    @media screen and (max-width: 768px) {
      h2 {
        font-size: 28px;
      }
      .section-imgtext-feature__content .section-imgtext-feature__imgtext-item, .section-imgtext-feature__content .section-imgtext-feature__imgtext-item:nth-of-type(even) {
        flex-direction: column;
        gap: 20px;
      }
      .section-imgtext-feature__content .section-imgtext-feature__imgtext-item .section-imgtext-feature__imgtext-text {
        width: 100%;
      }
      .section-imgtext-feature__content .section-imgtext-feature__imgtext-item .section-imgtext-feature__imgtext-text {
        width: 100%;
      }
      .section-imgtext-feature__content .section-imgtext-feature__imgtext-item:nth-of-type(even) .section-imgtext-feature__imgtext-text .section-imgtext-feature__imgtext-text-title {
        flex-direction: row;
        justify-content: flex-start; 
      }
      .section-imgtext-feature__content .section-imgtext-feature__imgtext-item .section-imgtext-feature__imgtext-text .section-imgtext-feature__imgtext-text-title p {
        font-size: 18px;
      }
    }
</style>

<section class="shopify-section section-imgtext-feature__section" style="background-color: #f5f5f7;">
  <div class="page-layout">
    <div class="page-layout-content section-imgtext-feature__wrapper">
      <div class="section-imgtext-feature__title">{{ section.settings.title }}</div>

      <div class="section-imgtext-feature__content">
        <div class="section-imgtext-feature__imgtext-item">
          <div class="section-imgtext-feature__imgtext-img">
            {%- if section.settings.item1-video -%}
              <video-media autoplay>
                {{- section.settings.item1-video | video_tag: playsinline: true, muted: true, loop: true, preload: 'metadata' -}}
              </video-media>
            {%- endif -%}
          </div>
          <div class="section-imgtext-feature__imgtext-text">
            <div>
              <div class="section-imgtext-feature__imgtext-text-title">
                <img
                  width="28"
                  height="28"
                  src="{{ section.settings.item1-icon | image_url }}"
                  alt=""
                >
                {{ section.settings.item1-title }}
              </div>
              <div class="section-imgtext-feature__desc">
                {{ section.settings.item1-desc }}
              </div>
            </div>
          </div>
        </div>
        <div class="section-imgtext-feature__imgtext-item">
          <div class="section-imgtext-feature__imgtext-img">
            {%- if section.settings.item2-video -%}
              <video-media autoplay>
                {{- section.settings.item2-video | video_tag: playsinline: true, muted: true, loop: true, preload: 'metadata' -}}
              </video-media>
            {%- endif -%}
          </div>
          <div class="section-imgtext-feature__imgtext-text">
            <div>
              <div class="section-imgtext-feature__imgtext-text-title">
                <img
                  width="28"
                  height="28"
                  src="{{  section.settings.item2-icon | image_url }}"
                  alt=""
                >
                {{ section.settings.item2-title }}
              </div>
              <div class="section-imgtext-feature__desc">
                {{ section.settings.item2-desc }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Section imgtext feature",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "richtext",
      "id": "item1-title",
      "label": "小标题1"
    },
    {
      "type": "richtext",
      "id": "item1-desc",
      "label": "小段落1"
    },
    {
      "type": "image_picker",
      "id": "item1-icon",
      "label": "icon1"
    },
    {
      "type": "video",
      "id": "item1-video",
      "label": "video-1"
    },
    {
      "type": "richtext",
      "id": "item2-title",
      "label": "小标题2"
    },
    {
      "type": "richtext",
      "id": "item2-desc",
      "label": "小段落2"
    },
    {
      "type": "image_picker",
      "id": "item2-icon",
      "label": "icon2"
    },
    {
      "type": "video",
      "id": "item2-video",
      "label": "video-2"
    },
  ],
  "presets": [
    {
      "name": "section-imgtext-feature"
    }
  ]
}
{% endschema %}
