{{ 'section-pop-acc.css' | asset_url | stylesheet_tag }}

<style>
  .section-{{section.id}}{
      padding:{{section.settings.padding}};
  }

  @media screen and (max-width: 768px) {
      .section-{{section.id}}{
      padding:{{section.settings.md_padding}};
      background-color: #F0F1F2;
  }
  }
</style>
<div class="page-layout section-{{section.id}}">
  <div class="page-layout-content">
    <h2 class="section-pop-acc-h2">{{ section.settings.title }}</h2>
    <div class="section-pop-acc-container">
      {% for item in section.blocks %}
        <div class="section-pop-acc-item">
          <div class="section-pop-acc-ward">
            <div class="section-pop-acc-img">
              {% render 'img-lazyload', image_url: item.settings.img %}
            </div>
            <div class="section-pop-acc-text">{{ item.settings.text }}</div>
          </div>
          <a class="section-pop-acc-btn" href="{{item.settings.url}}">{{ item.settings.btn_text }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "section-pop-acc",
  "settings": [
    {
      "type": "text",
      "id": "padding",
      "label": "模块内边距",
      "default": "120px 20px 0"
    },
    {
      "type": "text",
      "id": "md_padding",
      "label": "移动端模块内边距",
      "default": "30px 20px 0"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    }
  ],
  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "配图"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "标题"
        },
        {
          "type": "url",
          "id": "url",
          "label": "跳转链接"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "按钮文案",
          "default": "BUY NOW >"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-pop-acc"
    }
  ]
}
{% endschema %}
