{{ 'section-distance.css' | asset_url | stylesheet_tag }}

<style>
    .section-{{section.id}}{
        padding:{{section.settings.padding}};
    }

    {% case section.settings.modal_type %}
    {% when 'type2' %}
      .section-{{section.id}}{
        background-color: #232327;
      }
      .section-{{section.id}} .section-distance-text strong{
        color: #DE6A10;
      }
      .section-{{section.id}} .section-distance-h2 ,.section-{{section.id}} .section-distance-text,.section-{{section.id}} .distance-item-text{
        color: #FFFFFF;
      }
      @media screen and (min-width: 769px ) {

      .section-{{section.id}} .section-distance-h2{
        font-size: 32px;
        font-weight: bold;
      }
      .section-{{section.id}} .section-distance-text,.section-{{section.id}} .distance-item-text{
        font-size: 24px;
        font-weight: 400;
      }

      }
    {% else %}

  {% endcase %}

    @media screen and (max-width: 768px) {
        .section-{{section.id}}{
        padding:{{section.settings.md_padding}};
    }
    }
</style>
<div class="page-layout section-{{section.id}}">
  <div class="page-layout-content">
    <h2 class="section-distance-h2">{{ section.settings.title }}</h2>
    <div class="section-distance-text">{{ section.settings.text }}</div>
    <div class="section-distance-container">
      {% for block in section.blocks %}
        <div class="section-distance-item">
          {% render 'img-lazyload', image_url: block.settings.img %}
          <div class="distance-item-text">
            {{ block.settings.text }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "section-distance",
  "settings": [
    {
      "type": "select",
      "id": "modal_type",
      "label": "模块类型",
      "default": "type1",
      "options": [
        {
          "label": "type1",
          "value": "type1"
        },
        {
          "label": "type2",
          "value": "type2"
        }
      ]
    },
    {
      "type": "text",
      "id": "padding",
      "label": "模块内边距",
      "default": "120px 20px 0"
    },
    {
      "type": "text",
      "id": "md_padding",
      "label": "移动端模块内边距",
      "default": "60px 20px 0"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "文本"
    }
  ],
  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "配图"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "文本"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-distance"
    }
  ]
}
{% endschema %}
