{{ 'section-scan.css' | asset_url | stylesheet_tag }}
{{ 'section-modal-json.css' | asset_url | stylesheet_tag }}
<script src="{{'section-modal-json.js' | asset_url}}" defer></script>
<script src="{{'section-scan.js' | asset_url}}" defer></script>

<section-scan>
  <div class="section-scan-modal">
    <div class="section-scan-container">
      <div class="section-scan-title">{{ section.settings.title }}</div>
      <div class="section-scan-content">
        {% for block in section.blocks %}
          <div class="section-scan-item section-scan-item{{forloop.index}}">
            <div class="section-scan-item-title">{{ block.settings.title }}</div>
            <div class="section-scan-item-text">{{ block.settings.text }}</div>
          </div>
        {% endfor %}
        <a class="section-scan-link" href="{{section.settings.url}}">{{ section.settings.btn_text }}</a>
      </div>
      <button class="section-scan-back-btn">戻る ></button>
    </div>
  </div>
</section-scan>

{% schema %}
{
  "name": "section-scan",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "url",
      "id": "url",
      "label": "按钮跳转的链接"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "按钮文案",
      "default": "Custom Comparisons >"
    }
  ],
  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "文本"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "小文本"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-scan"
    }
  ]
}
{% endschema %}
