{{ 'section-confidence.css' | asset_url | stylesheet_tag }}

<style>
  .section-{{section.id}}{
      padding-bottom: 80px;
}
</style>

<section-confidence>
  <div class="page-layout section-{{section.id}}">
    <div class="page-layout-content">
  <div class="stitle bloga">
    <h2>{{ section.settings.title }}</h2>
  </div>
  <div class="backf">
    {% for block in section.blocks %}
    <div class="backfitem">
      <div class="backfimg">
       {% render 'img-lazyload', image_url: block.settings.img %}
      </div>
      <div class="backftitle">
        <p>{{ block.settings.text1 }} <br> {{ block.settings.text2 }}</p>
      </div>
    </div>
     {% endfor %}
 </div>
      

      <div class="sup">
                <div class="supitem">
                  <div class="suptitle">
                    <h2>{{ section.settings.title1 }}</h2>
                    <p>{{ section.settings.text1 }}</p>
                  </div>
                   <div class="supimg">
                    {% render 'img-lazyload', image_url: section.settings.img1 %}
                   </div>
                    <div class="supa">
                        <a href="{{ section.settings.url1 }}">今すぐ購入 &gt;</a>
                    </div>
                </div>
                <div class="supitem">
                    <div class="suptitle">
                       <h2>{{ section.settings.title2 }}</h2>
                      <p>{{ section.settings.text2 }}</p>
                      <div class="supa">
                       <a href="{{ section.settings.url2 }}">さらに詳しく &gt;</a>
                      </div>
                    </div>
                    <div class="supimg">
                        {% render 'img-lazyload', image_url: section.settings.img2 %}
                    </div>
                </div>
                <div class="supitem">
                    <div class="suptitle">
                         <h2>{{ section.settings.title3 }}</h2>
                         <p>{{ section.settings.text3 }}</p>
                       <p style="display: flex;gap: 10px;margin-top: 19px;">{% render 'img-lazyload', image_url: section.settings.img4 %}{{ section.settings.text4 }}</p>
                       <div class="supa">
                       <a href="{{ section.settings.url3 }}">1-on-1 Video Call</a>
                      </div>
                    </div>
                    <div class="supimg">
                         {% render 'img-lazyload', image_url: section.settings.img3 %}
                    </div>
                </div>
            </div>
      
    </div>
  </div>
</section-confidence>

{% schema %}

    {
  "name": "section-confidence",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "text",
      "id": "title1",
      "label": "标题"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "描述"
    },
    {
      "type": "image_picker",
      "id": "img1",
      "label": "配图"
    },
    {
      "type": "url",
      "id": "url1",
      "label": "商店链接"
    }
    ,
    {
      "type": "text",
      "id": "title2",
      "label": "标题"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "描述"
    },
    {
      "type": "url",
      "id": "url2",
      "label": "软件链接"
    },
    {
      "type": "image_picker",
      "id": "img2",
      "label": "软件配图"
    },
    {
      "type": "text",
      "id": "title3",
      "label": "标题"
    },
    {
      "type": "text",
      "id": "title4",
      "label": "标题"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "描述"
    },
    {
      "type": "text",
      "id": "text4",
      "label": "描述"
    },
    {
      "type": "url",
      "id": "url3",
      "label": "软件链接"
    },
    {
      "type": "image_picker",
      "id": "img3",
      "label": "软件配图"
    },
    {
      "type": "image_picker",
      "id": "img4",
      "label": "软件配图"
    }
  ],
  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
      {
      "type": "image_picker",
      "id": "img",
      "label": "配图"
       },
      {
       "type": "text",
       "id": "text1",
       "label": "标题"
       },
      {
        "type": "text",
        "id": "text2",
        "label": "描述"
      }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-confidence"
    }
  ]
}

{% endschema %}

