{{ 'section-stabilizer.css' | asset_url | stylesheet_tag }}

<style>
  .section-{{section.id}}{
      padding:{{section.settings.padding}};
  }

  @media screen and (max-width: 768px) {
      .section-{{section.id}}{
      padding:{{section.settings.md_padding}};
  }
  }
</style>
<div class="page-layout section-{{section.id}}">
  <div class="page-layout-content">
    <div class="section-stabilizer-container">
      <div class="section-stabilizer-content">
        <div class="section-stabilizer-title">{{ section.settings.title }}</div>
        <div class="section-stabilizer-text">{{ section.settings.text }}</div>
      </div>
      {% render 'img-lazyload', class_name: 'section-stabilizer-img', image_url: section.settings.img %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "section-stabilizer",
  "settings": [
    {
      "type": "text",
      "id": "padding",
      "label": "模块内边距",
      "default": "60px 20px"
    },
    {
      "type": "text",
      "id": "md_padding",
      "label": "移动端模块内边距",
      "default": "50px 20px"
    },
    {
      "type": "image_picker",
      "id": "img",
      "label": "配图"
    },
    {
      "type": "image_picker",
      "id": "md_img",
      "label": "移动端配图"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "text 文本"
    }
  ],
  "presets": [
    {
      "name": "section-stabilizer"
    }
  ]
}
{% endschema %}
