{{ 'section-home-accessories.css' | asset_url | stylesheet_tag }}
<style>
  .section-{{section.id}}{
      padding:{{section.settings.padding}};
  }

  @media screen and (max-width: 768px) {
      .section-{{section.id}}{
      padding:{{section.settings.md_padding}};
      background-color:#F0F1F2;
  }
  }
</style>

<div class="page-layout section-{{section.id}}" id="{{ section.settings.pointId}}">
  <div class="page-layout-content">
    <div class="home-accessories-line mobile-media"></div>
    <h2 class="home-accessories-h2">{{ section.settings.title }}</h2>
    <div class="home-accessories-text">{{ section.settings.text }}</div>
    <div class="home-accessories-tip">{{ section.settings.tip }}</div>
    <div class="home-accessories-container">
      {% for block in section.blocks %}
        {% liquid
          assign product = all_products[block.settings.product_origin]
          assign current_variant = product
          assign variant_id = block.settings.variant_id
          if variant_id != blank and product.variants.size > 1
            for variant in product.variants
              if variant.id == variant_id
                assign current_variant = variant
              endif
            endfor
          else
            assign variant_id = product.variants[0].id
          endif

          assign price = current_variant.price | money | strip_html
          if block.settings.price != blank
            assign price = block.settings.price
          endif
          assign url = current_variant.url | within: collection
          if block.settings.url != blank
            assign url = block.settings.url
          endif
        %}
        <a href="{{url}}" class="home-accessories-item">
          <div class="home-accessories-item-img">
            {% render 'img-lazyload', image_url: block.settings.img, class_name: 'mobile-media' %}
            {% render 'img-lazyload', image_url: block.settings.pc_img, class_name: 'pc-media' %}
          </div>
          <div class="home-accessories-item-ward">
            <div class="home-accessories-item-text">{{ block.settings.text }}</div>
            <div class="home-accessories-item-price">{{ price }}</div>
          </div>
          <div class="home-accessories-item-link">{{ block.settings.btn_text }}</div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "section-home-accessories",
  "settings": [
    {
      "type": "text",
      "id": "pointId",
      "label": "锚点"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "模块内边距",
      "default": "80px 20px 0"
    },
    {
      "type": "text",
      "id": "md_padding",
      "label": "移动端模块内边距",
      "default": "40px 20px 0"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "文本内容"
    },
    {
      "type": "inline_richtext",
      "id": "tip",
      "label": "文本"
    }
  ],
  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "product",
          "id": "product_origin",
          "label": "关联产品"
        },
        {
          "type": "number",
          "id": "variant_id",
          "label": "产品变体id 不填默认第一个"
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": "配图"
        },
        {
          "type": "image_picker",
          "id": "pc_img",
          "label": "pc 配图"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "文本"
        },
        {
          "type": "text",
          "id": "price",
          "label": "价格",
          "info": "优先使用自定义价格"
        },
        {
          "type": "url",
          "id": "url",
          "label": "跳转链接"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "按钮文案",
          "default": "BUY NOW >"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-home-accessories"
    }
  ]
}
{% endschema %}
