{{ 'section-releases.css' | asset_url | stylesheet_tag }}

<style>
  .section-{{section.id}}{
      padding:{{section.settings.padding}};
      background-color: #101010;
  }

  @media screen and (max-width: 768px) {
      .section-{{section.id}}{
      padding:{{section.settings.md_padding}};
  }
  }
</style>
<div class="page-layout section-{{section.id}}" id="{{section.settings.pointId}}">
  <div class="page-layout-content">
    <div class="section-releases-tip">{{ section.settings.tip }}</div>
    <div class="section-releases-container">
      <div class="section-releases-left">
        {% if section.settings.video_file != blank %}
          {{
            section.settings.video_file
            | video_tag:
              autoplay: true,
              class: 'section-range-video',
              loop: true,
              muted: true,
              controls: false,
              image_size: '1200x'
          }}
        {% else %}
          {% render 'img-lazyload', image_url: section.settings.img, class_name: 'pc-media' %}
          {% render 'img-lazyload', image_url: section.settings.md_img, class_name: 'mobile-media' %}
        {% endif %}

        <a class="section-releases-more pc-media" href="{{section.settings.url_more}}">もっと見る ></a>
      </div>
      <div class="section-releases-right">
        <h2 class="section-releases-h2">{{ section.settings.title }}</h2>
        <div class="section-releases-text1">{{ section.settings.text1 }}</div>
        <div class="section-releases-text2">{{ section.settings.text2 }}</div>
        <div class="section-releases-product">
          <div class="releases-product-item">
            <div class="releases-product-title">{{ section.settings.product_title1 }}</div>
            <div class="releases-product-price">{{ section.settings.price1 }}</div>
          </div>
          <div class="releases-product-item">
            <div class="releases-product-title">{{ section.settings.product_title2 }}</div>
            <div class="releases-product-price">{{ section.settings.price2 }}</div>
          </div>
        </div>
        <div class="section-releases-box">
          <a class="section-releases-now" href="{{section.settings.url_buy_bow}}">今すぐ購入 ></a>
          <a class="section-releases-more mobile-media" href="{{section.settings.url_buy_bow}}">今すぐ購入 ></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "section-releases",
  "settings": [
    {
      "type": "text",
      "id": "padding",
      "label": "模块内边距",
      "default": "86px 20px 0"
    },
    {
      "type": "text",
      "id": "md_padding",
      "label": "移动端模块内边距",
      "default": "20px 20px 0"
    },
    {
      "type": "text",
      "id": "pointId",
      "label": "锚点"
    },
    {
      "type": "richtext",
      "id": "tip",
      "label": "tip"
    },
    {
      "type": "image_picker",
      "id": "img",
      "label": "配图"
    },
    {
      "type": "image_picker",
      "id": "md_img",
      "label": "移动端配图"
    },
    {
      "type": "video",
      "id": "video_file",
      "label": "视频文件"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "richtext",
      "id": "text1",
      "label": "文案1"
    },
    {
      "type": "richtext",
      "id": "text2",
      "label": "文案2"
    },
    {
      "type": "richtext",
      "id": "product_title1",
      "label": "产品名1"
    },
    {
      "type": "text",
      "id": "price1",
      "label": "产品价格"
    },

    {
      "type": "richtext",
      "id": "product_title2",
      "label": "产品名2"
    },
    {
      "type": "text",
      "id": "price2",
      "label": "产品价格"
    },
    {
      "type": "url",
      "id": "url_buy_bow",
      "label": "BUY NOW 链接"
    },
    {
      "type": "url",
      "id": "url_more",
      "label": "LEARN MORE 链接"
    }
  ],
  "presets": [
    {
      "name": "section-releases"
    }
  ]
}
{% endschema %}
