{{ 'section-movement.css' | asset_url | stylesheet_tag }}

<style>
  .section-{{section.id}}{
      padding:{{section.settings.padding}};
  }

  @media screen and (max-width: 768px) {
      .section-{{section.id}}{
      padding:{{section.settings.md_padding}};
  }
  }
</style>
<div class="page-layout section-{{section.id}}">
  <div class="page-layout-content">
    <h2 class="section-movement-h2">{{ section.settings.title }}</h2>
    <div class="section-movement-container">
      {% render 'img-lazyload', class_name: 'section-movement-img', image_url: section.settings.img %}
      <div class="section-movement-content">
        <div class="section-movement-text">{{ section.settings.text }}</div>
        <div class="section-movement-item">
          {% render 'img-lazyload', class_name: 'pc-media', image_url: section.settings.icon %}
          {% render 'img-lazyload', class_name: 'mobile-media', image_url: section.settings.md_icon %}
          <div class="section-movement-icon-text">{{ section.settings.icon_text }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "section-movement",
  "settings": [
    {
      "type": "text",
      "id": "padding",
      "label": "模块内边距",
      "default": "120px 20px"
    },
    {
      "type": "text",
      "id": "md_padding",
      "label": "移动端模块内边距",
      "default": "50px 20px"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "段落"
    },
    {
      "type": "image_picker",
      "id": "img",
      "label": "配图"
    },
    {
      "type": "richtext",
      "id": "icon_text",
      "label": "icon 文案"
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "pc icon"
    },
    {
      "type": "image_picker",
      "id": "md_icon",
      "label": "移动icon"
    }
  ],
  "presets": [
    {
      "name": "section-movement"
    }
  ]
}
{% endschema %}
