{{ 'section-range-banner.css' | asset_url | stylesheet_tag }}

<style>
  @media screen and (max-width: 768px) {
    .section-range-banner {
      background-image: url('{{section.settings.md_img | image_url: width: section.settings.md_img.width }}');
    }
    {% if section.settings.title_type %}
    .section-range-banner-content{
      justify-content: flex-start;
      padding-top: 50px;
    }
    .section-range-banner-h1,.section-range-banner-text,.section-range-banner-btn{
      color: #fff;
    }
    .section-range-banner-btn{
      border-color: #fff;
    }
    .section-range-banner-btn path{
      fill: #fff;
    }
    .section-range-banner-icon{
      margin: auto auto 20px;
    }

    {% endif %}
  }
</style>
<div class="section-range-banner">
  <div class="section-range-banner-container">
    {{
      section.settings.video_file
      | video_tag:
        autoplay: true,
        class: 'section-range-banner-video',
        loop: true,
        muted: true,
        controls: false,
        image_size: '3000x'
    }}
    <div class="section-range-banner-content">
      <h1 class="section-range-banner-h1">{{ section.settings.title }}</h1>
      <div class="section-range-banner-text">{{ section.settings.text }}</div>
      <div class="section-range-banner-btns">
        <button class="section-range-banner-btn">
          ビデオを見る
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="18" viewBox="0 0 15 18">
            <defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M8.143,1.429a1,1,0,0,1,1.715,0l7.234,12.056A1,1,0,0,1,16.234,15H1.766a1,1,0,0,1-.857-1.514Z" transform="translate(15) rotate(90)"/>
          </svg>
        </button>
        <a class="section-range-banner-link" href="{{section.settings.url}}">今すぐ購入</a>
      </div>
      <a href="{{section.settings.join_url}}" class="section-range-banner-icon">
        {% render 'img-lazyload', image_url: section.settings.md_icon, class_name: 'mobile-media' %}
        {% render 'img-lazyload', image_url: section.settings.icon, class_name: 'pc-media' %}
      </a>
    </div>
  </div>

  <div class="section-range-banner-modal">
    <button class="section-range-banner-modal-close">
      {% render 'icon', icon: 'close' %}
    </button>
    <div class="section-range-banner-modal-content">
      {{
        section.settings.modal_video_file
        | video_tag:
          autoplay: false,
          class: 'section-range-banner-video-modal',
          loop: false,
          muted: true,
          controls: true,
          image_size: '3000x'
      }}
    </div>
  </div>
</div>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    const openModalBtn = document.querySelector('.section-range-banner-btn');
    const closeModalBtn = document.querySelector('.section-range-banner-modal-close');
    const modalContainer = document.querySelector('.section-range-banner-modal');
    openModalBtn.onclick = () => {
      modalContainer.classList.add('open');
    };

    closeModalBtn.onclick = () => {
      modalContainer.classList.remove('open');
    };
  });
</script>

{% schema %}
{
  "name": "section-range-banner",
  "settings": [
    {
      "type": "checkbox",
      "id": "title_type",
      "label": "移动端标题选择白色类型",
      "default": false
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "richtext",
      "label": "二级标题",
      "id": "text"
    },
    {
      "type": "image_picker",
      "id": "img",
      "label": "配图"
    },
    {
      "type": "image_picker",
      "id": "md_img",
      "label": "移动端配图"
    },
    {
      "type": "video",
      "id": "video_file",
      "label": "自动播放视频视频文件"
    },
    {
      "type": "video",
      "id": "modal_video_file",
      "label": "弹窗视频"
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "小图标"
    },
    {
      "type": "image_picker",
      "id": "md_icon",
      "label": "移动端小图标"
    },
    {
      "type": "url",
      "id": "url",
      "label": "按钮跳转链接"
    },
    {
      "type": "url",
      "id": "join_url",
      "label": "join url"
    }
  ],
  "presets": [
    {
      "name": "section-range-banner"
    }
  ]
}
{% endschema %}
