{{ 'section-pop-overview.css' | asset_url | stylesheet_tag }}

<style>
  .section-{{section.id}}{
      padding:{{section.settings.padding}};
      background-color: rgb(33,33,36);
  }

  {% for t in section.blocks %}
    .section-pop-overview-item.item{{forloop.index}}{
            grid-area:item{{forloop.index}};
        }
  {% endfor %}

  @media screen and (max-width: 768px) {
      .section-{{section.id}}{
      padding:{{section.settings.md_padding}};
  }
  }
</style>

<div class="page-layout section-{{section.id}}" id="popover">
  <div class="page-layout-content">
    <h2 class="section-pop-overview-h2 pc-media">{{ section.settings.title }}</h2>
    <div class="mobile-media">
      {% render 'img-lazyload', class_name: 'section-pop-overview-md-img', image_url: section.settings.md_img %}
    </div>
    <div class="section-pop-overview-container">
      {% for item in section.blocks %}
        <div class="section-pop-overview-item item{{forloop.index}}">
          {% assign md_img = item.settings.img %}
          {% if item.settings.md_img != blank %}
            {% assign md_img = item.settings.md_img %}
          {% endif %}
          {% render 'img-lazyload', image_url: item.settings.img, class_name: 'pc-media' %}
          {% render 'img-lazyload', image_url: md_img, class_name: 'mobile-media' %}
          {% if item.settings.ex_img != blank %}
            <div class="section-pop-overview-ward">
              {% render 'img-lazyload', image_url: item.settings.ex_img %}
              <div class="section-pop-overview-item-text">{{ item.settings.text }}</div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "section-pop-overview",
  "settings": [
    {
      "type": "text",
      "id": "padding",
      "label": "模块内边距",
      "default": "60px 20px"
    },
    {
      "type": "text",
      "id": "md_padding",
      "label": "移动端模块内边距",
      "default": "30px 20px"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "image_picker",
      "id": "md_img",
      "label": "移动整张图"
    }
  ],
  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "配图"
        },
        {
          "type": "image_picker",
          "id": "md_img",
          "label": "移动端配图"
        },
        {
          "type": "image_picker",
          "id": "ex_img",
          "label": "额外的图"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "小段落"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-pop-overview"
    }
  ]
}
{% endschema %}
