{{ 'section-video-swiper.css' | asset_url | stylesheet_tag }}

<swiper-component
  id="section-{{section.id}}"
  data-open="true"
  data-space-between="10"
  data-slides-per-view="1"
  data-breakpoints='{"769":{"slidesPerView":4,"spaceBetween":16}}'
>
  <div class="page-layout section-video-swiper-container">
    <div class="page-layout-content">
      <h2 class="section-video-swiper-h2">{{ section.settings.title }}</h2>

      <div class="section-video-swiper">
        <div class="swiper-container ">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              <div class="swiper-slide">
                {% if block.settings.video_url != blank %}
                  {% render 'iframe-component', video_url: block.settings.video_url %}
                {% else %}
                  {{
                    block.settings.video_file
                    | video_tag: autoplay: false, loop: false, muted: true, controls: true, image_size: '1200x'
                  }}
                {% endif %}
              </div>
            {% endfor %}
          </div>
          {% comment %}
             <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          {% endcomment %}
          <div class="swiper-pagination"></div>
        </div>
        <div class="swiper-button-prev-icon">
          {% render 'img-next-icon' %}
        </div>
        <div class="swiper-button-next-icon">
          {% render 'img-next-icon' %}
        </div>
      </div>
    </div>
  </div>
</swiper-component>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    const swiperContainer = document.querySelector('#section-{{section.id}}');
    const swiper = swiperContainer.swiper;
    swiperContainer.querySelector('.swiper-button-prev-icon').addEventListener('click', () => {
      swiper.slidePrev();
    });
    swiperContainer.querySelector('.swiper-button-next-icon').addEventListener('click', () => {
      swiper.slideNext();
    });
  });
</script>
{% schema %}
{
  "name": "section-video-swiper",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    }
  ],
  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "header",
          "content": "视频文件youtu 链接二选一"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "accept": ["vimeo", "youtube"],
          "label": "youtu 视频链接"
        },
        {
          "type": "video",
          "id": "video_file",
          "label": "视频文件"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-video-swiper"
    }
  ]
}
{% endschema %}
