{{ 'hudongnote.css' | asset_url | stylesheet_tag }}

<style>
  .section-{{section.id}}{
      padding-bottom: 80px;
}
</style>

<section-hudongnote>
  <div class="page-layout section-{{section.id}}" style="background: #0C1E34;">
    <div class="page-layout-content">
      <h2 class="hdtitle">{{ section.settings.title }}</h2>
      <div class="huodongnote">
        
        {{ section.settings.text1 }}
        {{ section.settings.text2 }}
       {{ section.settings.text3 }}
       {{ section.settings.text4 }}
        {{ section.settings.text5 }}
        {{ section.settings.text6 }}
        <div class="msxf">
          <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/6161177.png">
        </div>
      </div>
    </div>
  </div>
</section-hudongnote>

{% schema %}

    {
  "name": "section-hudongnote",
  "settings": [
    
    {
      "type": "text",
      "id": "title",
      "label": "板块标题"
    },
    {
      "type": "richtext",
      "id": "text1",
      "label": "note"
    },
    {
      "type": "richtext",
      "id": "text2",
      "label": "note"
    },
    {
      "type": "richtext",
      "id": "text3",
      "label": "note"
    },
    {
      "type": "richtext",
      "id": "text4",
      "label": "note"
    },
    {
      "type": "richtext",
      "id": "text5",
      "label": "note"
    },
    {
      "type": "richtext",
      "id": "text6",
      "label": "note"
    }
  ],
  "presets": [
    {
      "name": "section-hudongnote"
    }
  ]
}

{% endschema %}
