{{ 'section-about-awards.css' | asset_url | stylesheet_tag }}

<style>
  .section-{{section.id}}{
      padding:{{section.settings.padding}};
  }
  .section-{{section.id}} .page-layout-content {
    padding-top: 85px;
    padding-bottom: 85px;
  }

  @media screen and (max-width: 768px) {
      .section-{{section.id}}{
      padding:{{section.settings.md_padding}};
  }
  }
</style>

<div class="page-layout section-{{section.id}}" style="background: #F5F5F5;">
  <div class="page-layout-content">
   <div class="awards"> 
    <h2 class="section-awards-h2">{{ section.settings.title }}</h2>
   </div>
    <div class="awards-model">
      {% for block in section.blocks %}
      <div class="awards-item">
        <div class="awards-img">
         {% render 'img-lazyload', image_url: block.settings.img %}
        </div>
        <span class="awardstitle">{{ block.settings.text }}</span>
        <span class="awardstitle1">{{ block.settings.text1 }}</span>
      </div>
        {% endfor %}
    </div>
    
  </div>
</div>
  
{% schema %}
{
  "name": "section-about-awards",
  "settings": [
    
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    }
  ],
  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "配图"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "文本内容"
        },
        {
          "type": "richtext",
          "id": "text1",
          "label": "文本内容"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-about-awards"
    }
  ]
}
{% endschema %}