{{ 'section-mini-view.css' | asset_url | stylesheet_tag }}

<style>
    {% for t in section.blocks %}
        .mini-view-item.item{{forloop.index}}{
            grid-area:item{{forloop.index}};
        }
    {% endfor %}

    .section-{{section.id}}{
      background-color: #232327;
      padding:{{section.settings.padding}};
      }

  @media screen and (max-width: 768px) {
      .section-{{section.id}}{
      padding:{{section.settings.md_padding}};
  }
  }
</style>
<div class="page-layout section-mini-view-container section-{{section.id}}" id="miniview">
  <div class="page-layout-content">
    <h2 class="section-mini-view-h2">{{ section.settings.title }}</h2>
    <div class="section-mini-view-content">
      {% for item in section.blocks %}
        <div class="mini-view-item item{{forloop.index}}">
          {% render 'img-lazyload', class_name: 'pc-media', image_url: item.settings.img %}
          {% assign md_img = item.settings.img %}
          {% if item.settings.md_img != blank %}
            {% assign md_img = item.settings.md_img %}
          {% endif %}
          {% render 'img-lazyload', class_name: 'mobile-media', image_url: md_img %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "section-mini-view",
  "settings": [
    {
      "type": "text",
      "id": "padding",
      "label": "模块内边距",
      "default": "113px 20px 0"
    },
    {
      "type": "text",
      "id": "md_padding",
      "label": "移动端模块内边距",
      "default": "30px 20px 0"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    }
  ],

  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "pc端图片"
        },
        {
          "type": "image_picker",
          "id": "md_img",
          "label": "移动端图片"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-mini-view"
    }
  ]
}
{% endschema %}
