{{ 'section-metrology.css' | asset_url | stylesheet_tag }}

<style>
  .section-{{section.id}}{
      padding:{{section.settings.padding}};
      background-color:#232327;
  }

  @media screen and (max-width: 768px) {
      .section-{{section.id}}{
      padding:{{section.settings.md_padding}};
  }
  }
</style>

<div class="page-layout section-{{section.id}}">
  <div class="page-layout-content">
    {% if section.settings.title != blank %}
      <h2 class="section-metrology-h2">{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.text != blank %}
      <div class="section-metrology-text">{{ section.settings.text }}</div>
    {% endif %}
    <div class="section-metrology-container">
      <div class="section-metrology-img">
        {% render 'img-lazyload', image_url: section.settings.img %}
      </div>
      <div class="section-metrology-footer">
        {% render 'img-lazyload', class_name: 'section-metrology-footer-img', image_url: section.settings.icon %}
        <div class="section-metrology-footer-text">{{ section.settings.text_t }}</div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "section-metrology",
  "settings": [
    {
      "type": "text",
      "id": "padding",
      "label": "模块内边距",
      "default": "120px 20px 0"
    },
    {
      "type": "text",
      "id": "md_padding",
      "label": "移动端模块内边距",
      "default": "20px 20px 0"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "文本内容"
    },
    {
      "type": "image_picker",
      "id": "img",
      "label": "配图"
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "第二个图"
    },
    {
      "type": "richtext",
      "id": "text_t",
      "label": "第二个图下的文案"
    }
  ],
  "presets": [
    {
      "name": "section-metrology"
    }
  ]
}
{% endschema %}
