{{ 'section-modal-scanning.css' | asset_url | stylesheet_tag }}

<div class="section-modal-json">
  <div class="section-scanning-container">
    <div class="section-modal-title">{{ section.settings.title }}</div>
    <div class="modal-scanning-content">
      <div class="modal-scanning-left">
        {% render 'img-lazyload', image_url: section.settings.img %}
        <div class="modal-scanning-product-title">{{ section.settings.product_title }}</div>
        <a href="{{section.settings.url}}" class="modal-scanning-link"> BUY NOW > </a>
      </div>
      <div class="modal-scanning-scroll">
        <div class="modal-scanning-right">
          {% for block in section.blocks %}
            <div class="modal-scanning-item">
              <div class="modal-scanning-type">{{ block.settings.type }}</div>
              <div class="modal-scanning-text">{{ block.settings.text }}</div>
            </div>
          {% endfor %}
          <div class="modal-scanning-item-t"></div>
        </div>
      </div>
    </div>
    <a href="{{section.settings.url}}" class="modal-scanning-link modal-scanning-link-m">今すぐ購入 > </a>

    <button class="section-modal-back-btn">戻る ></button>
  </div>
</div>

{% schema %}
{
  "name": "section-modal-scanning",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "image_picker",
      "id": "img",
      "label": "产品图"
    },
    {
      "type": "richtext",
      "id": "product_title",
      "label": "产品标题"
    },
    {
      "type": "url",
      "label": "跳转链接",
      "id": "url"
    }
  ],
  "blocks": [
    {
      "name": "类型值 block",
      "type": "type_value",
      "settings": [
        {
          "type": "richtext",
          "id": "type",
          "label": "类型"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "类型值"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-modal-scanning"
    }
  ]
}
{% endschema %}
