{{ 'section-intelligent.css' | asset_url | stylesheet_tag }}

<style>
  .section-{{section.id}}{
      padding:{{section.settings.padding}};
  }

  @media screen and (max-width: 768px) {
      .section-{{section.id}}{
      padding:{{section.settings.md_padding}};
  }
  }
</style>

<div class="page-layout section-{{section.id}}">
  <div class="page-layout-content">
    <div class="section-intelligent-container">
      {% render 'img-lazyload', class_name: 'section-intelligent-img', image_url: section.settings.img %}
      <div class="section-intelligent-content">
        <h2 class="section-intelligent-h2">{{ section.settings.title }}</h2>
        <div class="section-intelligent-text">{{ section.settings.text }}</div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "section-intelligent",
  "settings": [
    {
      "type": "text",
      "id": "padding",
      "label": "模块内边距",
      "default": "96px 20px 0"
    },
    {
      "type": "text",
      "id": "md_padding",
      "label": "移动端模块内边距",
      "default": "30px 20px 0"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "段落"
    },
    {
      "type": "image_picker",
      "id": "img",
      "label": "配图"
    }
  ],
  "presets": [
    {
      "name": "section-intelligent"
    }
  ]
}
{% endschema %}
