{{ 'section-about-banner.css' | asset_url | stylesheet_tag }}

<style>
  @media screen and (max-width: 768px) {
      .section-about-banner {
          background-image: url('{{section.settings.md_img | image_url: width: section.settings.md_img.width }}');
      }
  {% if section.settings.title_type %}
      .section-about-banner-content{
          justify-content: flex-start;
          padding-top: 50px;
      }
      .section-about-banner-h1,.section-about-banner-text,.section-about-banner-btn{
          color: #fff;
      }
      .section-about-banner-btn{
          border-color: #fff;
      }
      .section-about-banner-btn path{
          fill: #fff;
      }
      .section-about-banner-icon{
          margin: auto auto 20px;
      }

  {% endif %}
  }
</style>
<div class="section-about-banner">
  <div class="section-about-banner-container">
    {{
      section.settings.video_file
      | video_tag:
        autoplay: true,
        class: 'section-about-banner-video',
        loop: true,
        muted: true,
        controls: false,
        image_size: '3000x'
    }}
    <div class="section-about-banner-content">
      <h1 class="section-about-banner-h1">{{ section.settings.title }}</h1>
      <div class="section-about-banner-text">{{ section.settings.text }}</div>
      <div class="section-about-banner-btns">
        <button class="section-about-banner-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="18" viewBox="0 0 15 18">
            <defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M8.143,1.429a1,1,0,0,1,1.715,0l7.234,12.056A1,1,0,0,1,16.234,15H1.766a1,1,0,0,1-.857-1.514Z" transform="translate(15) rotate(90)"/>
          </svg>
               ビデオを見る
        </button>
      </div>
      <a href="{{section.settings.join_url}}" class="section-about-banner-icon">
        {% render 'img-lazyload', image_url: section.settings.md_icon, class_name: 'mobile-media' %}
        {% render 'img-lazyload', image_url: section.settings.icon, class_name: 'pc-media' %}
      </a>
    </div>
  </div>

  <div class="section-about-banner-modal">
    <button class="section-about-banner-modal-close">
      {% render 'icon', icon: 'close' %}
    </button>
    <div class="section-about-banner-modal-content">
      {{
        section.settings.modal_video_file
        | video_tag:
          autoplay: false,
          class: 'section-about-banner-video-modal',
          loop: false,
          muted: true,
          controls: true,
          image_size: '3000x'
      }}
    </div>
  </div>
</div>

<script>
  window.addEventListener('DOMContentLoaded', () => {
      const openModalBtn = document.querySelector('.section-about-banner-btn');
      const closeModalBtn = document.querySelector('.section-about-banner-modal-close');
      const modalContainer = document.querySelector('.section-about-banner-modal');
      openModalBtn.onclick = () => {
          modalContainer.classList.add('open');
      };

      closeModalBtn.onclick = () => {
          modalContainer.classList.remove('open');
      };
  });
</script>

{% schema %}
{
  "name": "section-about-banner",
  "settings": [
    {
      "type": "checkbox",
      "id": "title_type",
      "label": "移动端标题选择白色类型",
      "default": false
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "richtext",
      "label": "二级标题",
      "id": "text"
    },
    {
      "type": "image_picker",
      "id": "img",
      "label": "配图"
    },
    {
      "type": "image_picker",
      "id": "md_img",
      "label": "移动端配图"
    },
    {
      "type": "video",
      "id": "video_file",
      "label": "自动播放视频视频文件"
    },
    {
      "type": "video",
      "id": "modal_video_file",
      "label": "弹窗视频"
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "小图标"
    },
    {
      "type": "image_picker",
      "id": "md_icon",
      "label": "移动端小图标"
    },
    {
      "type": "url",
      "id": "url",
      "label": "按钮跳转链接"
    },
    {
      "type": "url",
      "id": "join_url",
      "label": "join url"
    }
  ],
  "presets": [
    {
      "name": "section-about-banner"
    }
  ]
}
{% endschema %}
