{{ 'supportcard.css' | asset_url | stylesheet_tag }}

<style>
  .section-{{section.id}}{
      padding-top: 80px;
}
    @media screen and (max-width: 768px) {
     .section-{{section.id}}{
      padding-top: 20px;
}
  }
</style>

<section-supportcard>
  <div class="page-layout section-{{section.id}}">
    <div class="page-layout-content">
      <div class="revoscan">
        <div class="rs-left">
           {% render 'img-lazyload', image_url: section.settings.img %}
        </div>

        <div class="rs-right">

          <div class="rstitle">
            <h2>{{ section.settings.title }}</h2>
            <p>{{ section.settings.text }}</p>
          </div>

          <div class="md">
            {% for block in section.blocks %}
            <div class="mditem">
              {% render 'img-lazyload', image_url: block.settings.img %}
              <div class="mdtitle">
                <p>{{ block.settings.text1 }}</p>
                <p>{{ block.settings.text2 }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="downloaditem">
            <div class="downloadmode">
              {% render 'img-lazyload', image_url: section.settings.img1 %}
              <div class="rsdownload">
                <p style="font-size: 20px;">{{ section.settings.text1 }}</p>
              </div>
              <div class="dl">
                <a href="{{ section.settings.url }}" target="_blank">{{ section.settings.text2 }}</a>
                {% if section.settings.url1 %}
                <a href="{{ section.settings.url1 }}" target="_blank">{{ section.settings.text3 }}</a>
                  {% endif %}
              </div>
            </div>
            {% if section.settings.img2 %}
  <div class="downloadmode">
    {% render 'img-lazyload', image_url: section.settings.img2 %}
    <div class="rsdownload">
      <p style="font-size: 20px;">{{ section.settings.text4 }}</p>
    </div>
    <div class="dl">
      <a href="{{ section.settings.url2 }}" target="_blank">{{ section.settings.text5 }}</a>
      <a href="{{ section.settings.url3 }}" target="_blank">{{ section.settings.text6 }}</a>
    </div>
  </div>
{% endif %}
          </div>

        </div>
      </div>
    </div>
  </div>
</section-supportcard>

{% schema %}

    {
  "name": "section-supportcard",
  "settings": [
    {
      "type": "image_picker",
      "id": "img",
      "label": "主图"
    },
    {
      "type": "text",
      "id": "title",
      "label": "产品名"
    },
    {
      "type": "text",
      "id": "text",
      "label": "描述"
    },
    {
      "type": "image_picker",
      "id": "img1",
      "label": "下载icon"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "下载文件名"
    },
    {
      "type": "url",
      "id": "url",
      "label": "下载链接"
    },
    {
      "type": "url",
      "id": "url1",
      "label": "下载链接"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "下载按钮名"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "下载按钮名"
    },
    {
      "type": "image_picker",
      "id": "img2",
      "label": "下载icon"
    },
    {
      "type": "text",
      "id": "text4",
      "label": "下载文件名"
    },
    {
      "type": "url",
      "id": "url2",
      "label": "下载链接"
    },
    {
      "type": "url",
      "id": "url3",
      "label": "下载链接"
    },
    {
      "type": "text",
      "id": "text5",
      "label": "下载按钮名"
    },
    {
      "type": "text",
      "id": "text6",
      "label": "下载按钮名"
    }
  ],
  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
      {
      "type": "image_picker",
      "id": "img",
      "label": "参数图"
       },
      {
       "type": "text",
       "id": "text1",
       "label": "参数名"
       },
      {
        "type": "text",
        "id": "text2",
        "label": "参数值"
      }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-supportcard"
    }
  ]
}

{% endschema %}


