{{ 'support-banner-product.css' | asset_url | stylesheet_tag }}
<style>
     .section-{{section.id}} .page-layout-content{
       padding-top: 60px;
        padding-bottom: 160px;
  }
  }
</style>
<support-banner-product>
  <div class="page-layout section-{{section.id}}">
    <div class="page-layout-content">
          <div class="onetitle">
            {{section.settings.title}}
            {{section.settings.text}}
          </div>
           <div class="prodducts">
          {% for block in section.blocks %}
            <div class="productitem">
              <a href="{{block.settings.url}}">
                <div class="zoomimg">
                  {% render 'img-lazyload', image_url: block.settings.img %}
                </div>
                <div class="producttitle">
                  {{block.settings.text}}
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
  </div>
</support-banner-product>
{% schema %}
    {
  "name": "support-banner-product",
  "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "标题"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "描述"
        }
  ],
         "blocks": [
      {
      "name": "items",
      "type": "items",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "产品链接"
        },
        {
           "type": "image_picker",
          "id": "img",
            "label": "Tab Image"
         },
        {
          "type": "richtext",
          "id": "text",
          "label": "描述"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "support-banner-product"
    }
  ]
}
{% endschema %}
