{{ 'tradein-tab.css' | asset_url | stylesheet_tag }}
<script src="{{'tradein-tab.js' | asset_url}}" defer></script>
<style>
  .tradein-tab {margin-top: 70px;margin-bottom: 130px;}

  @media screen and (max-width: 768px) {

  }
</style>
<div class="page-layout tradein-tab">
  <div class="page-layout-content">
    <h2>{{ section.settings.title }}</h2>
    <p>{{ section.settings.text }}</p>

    <div class="tabs-container">
      <div class="tabs">
        {% liquid
          assign tab_title = section.blocks | where: 'type', 'tab_title'
          assign tab_content = section.blocks | where: 'type', 'tab_content'
        %}
        {% for title in tab_title %}
            {%- assign text = 'text' | append: i -%}
            {%- assign img = 'img' | append: i -%}

            <button class="tab" onclick="openTab('tab{{ forloop.index }}')" data-tab-id="tab{{ forloop.index }}">
              {%- if title.settings[img] -%}
                {% render 'img-lazyload', image_url: title.settings[img] %}
              {% endif %}
              <p>{{ title.settings[text] }}</p>
            </button>
        {% endfor %}
      </div>
      {% for content in tab_content %}
      <div id="tab{{ forloop.index }}" class="tab-content">
        <div class="tab-left">
          <div class>
            {{ content.settings.title }}
          </div>
  
        </div>
        <div class="tab-right">
          {% render 'img-lazyload', image_url: content.settings[img] %}
        </div>
      </div>
        {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "tradein-tab",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "描述"
    }
  ],
  "blocks": [
    {
      "name": "tab 标题",
      "type": "tab_title",
      "settings": [
    {
      "type": "image_picker",
      "id": "img",
      "label": "配图"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "描述"
    }
        
      ]
    },
    {
      "name": "tab 内容",
      "type": "tab_content",
      "settings": [
      {
      "type": "html",
      "id": "title",
      "label": "标题"
      },
        {
      "type": "image_picker",
      "id": "img",
      "label": "配图"
    }
      ]
    }
  ],
  "presets": [
    {
      "name": "tradein-tab"
    }
  ]
}
{% endschema %}
