{{ 'trade-rules.css' | asset_url | stylesheet_tag }}
<style>
  .section-{{section.id}} {padding-top: 75px;padding-bottom: 80px;}
</style>
<section-rules>
  <div class="page-layout section-{{section.id}}" style="background: #fff;">
    <div class="page-layout-content">
      <h2>{{ section.settings.title }}</h2>
      <div class="traderules">
         {% for block in section.blocks %}
           <p>{{ block.settings.text }}</p>
           {% endfor %}
      </div>
      <div class="copyrules">
      <p>{{ section.settings.text }}</p>
        </div>
    </div>
  </div>
  </section-rules>

{% schema %}

    {
  "name": "section-rules",
  "settings": [
    
    {
      "type": "text",
      "id": "title",
      "label": "板块标题"
    },
    {
      "type": "text",
      "id": "text",
      "label": "版权解释"
    }
  ],
  "blocks": [
      
      {
       "name": "item",
      "type": "item",
      "settings": [
      
      
      {  
      "type": "text",
      "id": "text",
      "label": "规则"
      }
       
      ]
    }
  ],
  "presets": [
    {
      "name": "section-rules"
    }
  ]
}

{% endschema %}

