<style>
  .section-{{ section.id }} .section-winb__title {
    font: normal normal 600 48px / 72px Poppins;
    letter-spacing: 0px;
    color: #000000;
    text-align: center;
    margin-bottom: 48px;
  }
  .section-winb__content  {
    padding-inline-start: 30px;
    padding-inline-end: 30px;
  }
  .section-winb__content img {
    margin-inline-start: auto; margin-inline-end: auto;
  }
  .section-winb__content-box {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    background-color: #f6f5f8;
    border-radius: 32px;
  }
  .winb-box-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .section-winb__content-box .winb-box-item-img {
    flex: 1;
    display: flex;
  }
  .section-winb__content-box .winb-box-item-img img {
    height: fit-content;
    align-self: flex-end;
  }
  .section-winb__content-box .winb-box-item-text {
    color: #000;
    min-height: 70px;
    text-align: center;
  }

    @media screen and (max-width: 768px) {
      .section-winb__content {
        padding: 0;
      }
      .section-winb__content-box {
        flex-direction: column;
      }
  }
</style>

<section-whatinbox class="shopify-section section-{{ section.id }}">
  <div class="page-layout">
  <div class="page-layout-content">
    <div class="section-winb__title">
      {{ section.settings.title }}
    </div>
    <div class="section-winb__content" >
      <div class="section-winb__content-box">
        {% for block in section.blocks %}
          <div class="winb-box-item">
            <div class="winb-box-item-img">
              <img src="{{ block.settings.img | image_url }}" />
            </div>
            <div class="winb-box-item-text">
              {{ block.settings.text }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  </div>
</section-whatinbox>

{% schema %}
  {
    "name": "What in box",
    "settings": [
      {
        "type": "richtext",
        "id": "title",
        "label": "标题"
      },
      {
        "type": "image_picker",
        "id": "img",
        "label": "图片"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "item",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "文字"
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "图片"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "section-whatinbox"
      }
    ]
  }
{% endschema %}